@media screen and (max-width: 1520px) {
	h1 {
		font-size: 68px;
	}
}

@media screen and (max-width: 1400px) {
	h1 {
		font-size: 68px;
	}

	.header {
		height: 70px;

		& > .h-wrapper {
			max-width: 1020px;

			& > .menu {
	 			width: 318px;
	 			
				& a {
					font-size: 14px;
				}
			}



			& > .logo {
				top: 0;
				transform: translateX(-50%) scale(.8);
			}

			& > .info {
				width: 300px;

				& > .info-tel {
					font-size: 14px;
				}
			}
		}
	}

	.footer {
		& > .f-wrapper {
			max-width: 1020px;

			& > .f-logo {
				width: 180px; height: 80px;

				& img {
					width: inherit; height: inherit;
				}
			}

			& > .fw-wrapper {
				max-width: 370px;
			}

			& > .f-map {
				width: 400px;
			}
		}
	}

	.main {
		& > .grills {
			max-width: 1020px;
		}

		& > .main-text > .main-text-wrapper {
			max-width: 1000px;

			& > .text {
				width: 531px;
			}
		}

		& > .wrapper {
			max-width: 1020px;
		}
	}
}

@media screen and (max-width: 1150px) {
	h1 {
		font-size: 50px;
	}

	h2 {
		font-size: 49px;
	}

	.header {
		& > .h-wrapper {
			max-width: 760px;

			& > .menu {
				display: none;
			}

			& > .menu-mobile {
				display: flex;

				&.active {
					& > div:first-child {
                        transform: rotate(45deg) scaleX(.625);
                    }

                    & > div:last-child {
                        transform: rotate(-45deg) scaleX(.625);
                    }
				}
			}

			& > .info {
				flex-direction: column-reverse;
				width: auto;
				align-items: flex-end;

				& > .info-tel {
					margin-bottom: 5px;
				}
			}
		}
	}

	.main {

		& > .grill {
			max-width: 760px;
		}

		& > .main-text > .main-text-wrapper {
			max-width: 760px;

			& > .text {
				width: 100%;
			}
		}

		& > .wrapper {
			max-width: 760px;

			& > .article {
				grid-template-columns: 217px auto;

				& > .a-img-wrapper {
					height: 217px;
					grid-row-start: 1;
                	grid-row-end: 2;

                	& > .a-img {
                		border-bottom-left-radius: 0;
                	}
				}

				& > .a-info > .a-title {
					font-size: 29px;
				}

				& > .a-inner-wrapper {
					grid-column-start: 1;
					grid-column-end: 3;
					padding: 23px 20px 23px 20px;

					& > .a-text {
						margin-bottom: 10px;
					}

					& > .a-more {
						align-self: flex-end;
						width: 156px; height: 30px;
						font-size: 14px;
						line-height: 28px;
					}
				}
			}

			& > .article-wrapper {
				flex-direction: column;
				align-items: center;

				& > .aw-last {
					margin-top: 50px;

					& > .aw-last-title {
						align-self: center;

						&:after {
							left: 50%;
							transform: translateX(-50%);
						}
					}

					& > .aw-last-first, & > .aw-last-second {
						flex-direction: row;
					}
				}
			}
		}
	}

	.adv {
		max-width: 740px;

		& > .adv-wrapper {
			& > .adv-w-left {
				margin-bottom: 50px;
				width: 100%; 
			}

			& > .adv-w-right {
				width: 100%;
			}
		}
	}
}

@media screen and (max-width: 1060px) {
	.header {
		& > .h-wrapper {
			max-width: 760px;

			& > .menu {
				display: none;
			}

			& > .menu-mobile {
				display: flex;
			}
		}
	}

	.footer {

		& > .f-wrapper {
			flex-direction: column-reverse;
			align-items: center;
			max-width: 760px;

			& > .fw-wrapper {
				max-width: 452px;
				margin-top: 50px;

				& > .f-links, & > .f-info {
					display: flex;
				    flex-direction: column;
				    align-items: center;
				}

				& h5:after {
					left: 50%;
					transform: translateX(-50%);
				}
			}

			& > .f-info {
				width: 100%;
			}

			.fi-btn {
				display: none;

				&.mobile {
					display: block;
				}
			}

			& > .f-map {
				width: 100vw;
			}
		}
	}
}

@media screen and (max-width: 800px) {

	h2 {
		font-size: 52px;
		text-align: center;
	}

	.header {
		height: 52px;

		& > .h-wrapper {
			max-width: 560px;

			& > .menu-mobile {
				width: 37px; height: 20px;

				&.active {
					& > div:first-child {
                        transform: rotate(45deg) scaleX(.685);
                    }

                    & > div:last-child {
                        transform: rotate(-45deg) scaleX(.685);
                    }
				}
			}

			& > .logo {
				top: -16px;
				transform: translateX(-50%) scale(.6);
			}

			& > .info {
				& > .info-tel {
					margin-bottom: 2px;
				}

				& > .info-btn {
					width: 125px; height: 23px;
					line-height: 22px;
				}
			}
		}
	}

	.footer.in-contact {
		margin-top: 0;
	}

	.main {
		& > .first-screen {
			& > .fs-label {
				font-size: 50px;
				max-width: 560px;
				text-align: center;

				&:after {
					width: 100%;
					left: 0;
				}
			}
		}

		& > .grills {
			max-width: 95%;
		}

		& > .main-text > .main-text-wrapper {
			max-width: 90%;

			& > .text {
				width: 100%;
			}
		}

		& > .wrapper {
			max-width: 560px;
			margin-top: 85px;

			& > .block-title {
				margin-top: 20px;
			}

			& > .block-desk {
				margin-bottom: 20px;
			}

			& > .article {

				& > .a-info {
					padding: 20px 30px 0;
				}
			}

			& > .article-wrapper {
				flex-direction: column;
				align-items: center;

				& > .aw-last {
					& > .aw-last-first, & > .aw-last-second {
						flex-direction: column;
					}
				}

				& > .text-wrapper > .article-ui {
					flex-direction: column;
					align-items: center;
				}
			}

			& > .contacts {
			 	flex-direction: column;
				align-items: center;

				& > .c-left {
					width: 100%;
				}

				& > .c-right {
					position: relative;
					width: 100%;
                	margin-top: 40px;

					& > .cr-map {
						display: none;
					}
				}
			}

			& > .product {

				& h5:after {
					left: 50%;
					transform: translateX(-50%);
				}

				& > .p-info {
					flex-direction: column;
					align-items: center;

					& > .pi-slider {
						margin-bottom: 50px; 
					}

					& > .pi-wrapper {
						width: 100%;

						& > .piw-mini-info {
							flex-direction: column;
							align-items: center;
						}

						& > .piw-desk {
							align-items: center;
						}

						& .piw-m-features {
							align-items: center;
						}

						& .piw-m-price {
							align-items: center;
							margin-top: 30px;
						}
					}
				}

				& > .p-full-info {
					flex-direction: column-reverse;
					align-items: center;
					margin-top: 20px;

					& > .pfi-left, & > .pfi-right {
	                    width: 100%;
	                    display: flex;
	                    flex-direction: column;
	                    align-items: center;
	                    margin-top: 50px;
	                }

	                & > .pfi-left > .piw-m-price {
	                	flex-direction: column;
	                	align-items: center;
	                }
				}
			}
		}
	}

	.adv {
		max-width: 470px;
	}

	.features {
		align-self: flex-start;
	}

	.mobile-menu-wrapper > a {
		margin: 20px 5px;
	}
}

@media screen and (max-width: 620px) {
	.header {
		& > .h-wrapper {
			max-width: 450px;
		}
	}

	.main {
		& > .first-screen {
			& > .fs-label {
				font-size: 41px;
				max-width: 450px;
				text-align: center;

				&:after {
					width: 100%;
					left: 0;
				}
			}
		}

		& > .wrapper {
			max-width: 450px;

			& > .article {

				& > .a-info {
					padding: 15px 5px 0 15px;

					& > .a-title {
						font-size: 19px;
					}

					& > .a-date {
						font-size: 14px;
					}
				}

				& > .a-inner-wrapper > .a-text {
					font-size: 14px;
				}
			}

			& > .contacts {

				& h5:after {
					left: 50%;
					transform: translateX(-50%);
				}

				& > .c-left {
					flex-direction: column;
					align-items: center;

					& > .cl-info {
						display: flex;
						flex-direction: column;
						align-items: center;

						& > .cli-address {
							display: flex;
							flex-direction: column;
	                        align-items: center;
	                    }

	                    & > .cli-info {
							display: flex;
							flex-direction: column;
	                        margin-top: 30px;
	                        align-items: center;
	                    }
					}

					& > .cl-form {
						align-items: center;
					}
				}

				& > .c-right {
					align-items: center;
				}
			}
		}
	}
}

@media screen and (max-width: 480px) {
	h2 {
		font-size: 33px;

		& + .block-desk {
	        font-size: 14px;
	    }
	}

	.header {
		& > .h-wrapper {
			max-width: 340px;

			& > .logo {
				top: -20px; left: 39%;
				transform: translateX(-50%) scale(.5);
			}
		}
	}

	.main {
		& > .first-screen {
			& > .fs-label {
				font-size: 33px;
				max-width: 350px;
			}
		}

		& > .wrapper {
			max-width: 350px;

			& > .article {
				display: flex;
				flex-direction: column;
				align-items: center;
				width: 100%;

				& > .a-img-wrapper {
					width: 100%;
					height: 285px;
				}

				& > .a-info {
					padding: 15px 5px 0 15px;

					& > .a-title {
						font-size: 24px;
					}

					& > .a-date {
						font-size: 14px;
					}
				}

				& > .a-inner-wrapper > .a-text {
					font-size: 16px;
					margin-bottom: 20px;
				}
			}
		}
	}

	.adv {
		& > .adv-wrapper {
			width: 310px;
			margin-top: 35px;

			& > .adv-w-left {
				& ul li {
					font-size: 14px;
					line-height: 35px;
				}
			}
		}
	}

	.footer {

		& > .f-wrapper {

			& > .fw-wrapper {
				flex-direction: column;
				align-items: center;

				& > .f-links {
					margin-bottom: 30px;
				}
			}
		}
	}
}
