@font-face {
    font-family: mont-r;
    src: url('/fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: mont-b;
    src: url('/fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: mont-eb;
    src: url('/fonts/Montserrat-ExtraBold.ttf');
}
@font-face {
    font-family: mont-l;
    src: url('/fonts/Montserrat-Light.ttf');
}
@font-face {
    font-family: mont-sb;
    src: url('/fonts/Montserrat-SemiBold.ttf');
}

// Переменные
@bgColor: #fff;
@orColor: #ff6636;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: mont-r;
}

body {
    font-size: 16px;
    overflow-x: hidden;
}

// Примеси

// Флекс
.flex() {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

// center cover image background
.ccibg() {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

// Первый экран
.main {
    .flex();
    .ccibg();
    background-image: url('/img/main-img-5.jpg');
    
    & > .main-shadow {
        position: relative;
        .flex();
        justify-content: space-between;
        align-items: flex-start;
        background-color: rgba(86, 86, 86, .5);
        
        // Информация
        & > .main-s-info {
            position: absolute;
            .flex();
            justify-content: space-between;
            align-items: flex-start;
            
            & > .main-left {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 120px;
                height: 50vh;
                font-size: 1.5rem;
                color: @bgColor;
                
                & > .main-l-lang {
                    font-family: mont-l;
                    
                    & > .chose {
                        color: @orColor;
                    }
                }
            }
            
            & > .main-center {
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: calc(100% - 120px);
                height: 100%;
                
                // Иформация
                & > .main-c-info {
                    position: relative;
                    height: 80vh;
                    
                    // Заголовок
                    & > .main-c-info-h {
                        position: absolute;
                        bottom: 25%;
                        left: 1.3rem;
                        color: @bgColor;
                        font-family: mont-l;
                        font-weight: 100;
                        font-size: 1.3rem;
                        text-transform: uppercase;
                        
                        & > p {
                            font-family: mont-l;
                            font-weight: 100;
                            font-size: 2em;
                        }
                        
                        &:after {
                            content: " ";
                            position: absolute;
                            left: -1.3rem;
                            width: 90%;
                            height: 1px;
                            background-color: @bgColor;
                        }
                    }
                    
                    // Телефон и почта
                    & > .main-c-i-info {
                        position: absolute;
                        top: 15%;
                        left: 1.3rem;
                        color: @bgColor;                       
                        font-size: 1.3rem;
                        
                        & > p {
                            font-family: mont-l; 
                        }
                    }
                    
                    // Границы
                    &:after {
                        content: " ";
                        position: absolute;
                        width: 1px;
                        height: 100%;
                        background-color: @bgColor;
                    }
                }
                
                // Компасс
                & > .main-c-compass {
                    .flex();
                    position: relative;
                    right: 50px;
                    height: 70vh;
                    width: 70vh;
                    
                    // кружки
                    & > .main-c-circles {
                        .flex();
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        
                        & > .main-c-c-circle {
                            position: absolute;
                            border-radius: 100%;
                            opacity: .5;
                        }
                        
                        & > .main-c-c-circle:nth-child(1) {
                            width: 100%;
                            height: 100%;
                            border: 1px solid @orColor;
                            animation: compass-circle_1 12s ease-in-out infinite;
                        } 
                        
                        & > .main-c-c-circle:nth-child(2) {
                            width: 60%;
                            height: 60%;
                            border: 1px solid @orColor;
                            animation: compass-circle_2 15s ease-in-out infinite;
                        }
                        
                        & > .main-c-c-circle:nth-child(3) {
                            width: 100%;
                            height: 100%;
                            border-radius: 0;
                            opacity: 1;
                            .ccibg();
                            background-image: url('/img/compass-1.svg');
                        }
                        
                        & > .main-c-c-circle:nth-child(4) {
                            width: 40%;
                            height: 40%;
                            border: 1px solid @bgColor;
                        }
                        
                        & > .main-c-c-circle:nth-child(5) {
                            width: 10%;
                            height: 10%;
                            border: 1px solid @orColor;
                        }
                        
                        & > .main-c-c-circle:nth-child(6) {
                            width: 4%;
                            height: 4%;
                            border: 1px solid @bgColor;
                        }
                        
                        & > .main-c-c-circle_inner {
                            position: absolute;
                            width: 45%;
                            height: 45%;
                            .ccibg();
                            background-image: url('/img/compass.svg');
                            animation: compass-circle_ride 60s linear infinite;
                        }
                    }
                    
                    // стрелка
                    & > .main-c-arrow {
                        position: absolute;
                        width: 30%;
                        height: 5%;
                        opacity: .9;
                        right: 45%;
                        .ccibg();
                        background-size: contain;
                        background-image: url('/img/arrow.svg');
                        transform-origin: 83% 50%;
                        transition: transform .5s ease-in-out;
                        //animation: compass-circle_arrow 5s ease-in-out infinite;
                    }
                    
                    // Надписи
                    & > .main-c-labels {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        
                        & > a {
                            position: absolute;
                            color: @bgColor;
                            text-transform: uppercase;
                            text-decoration: none;
                            font-family: mont-sb;
                            font-size: 1.7vh;
                            overflow: hidden;
                            
                            &:after, &:before {
                                content: " ";
                                position: absolute;
                                width: 80%;
                                height: 1px;
                                background-color: @bgColor;
                                transition: transform .3s, background-color .3s;
                                left: 0;
                            }
                            
                            &:after {
                                transform: translate3d(-101%, 0, 0);
                                bottom: 0;
                            }
                            
                            &:before {
                                transform: translate3d(101%, 0, 0);
                            }
                            
                            &:hover {
                                &:after, &:before {
                                    transform: translate3d(0, 0, 0);
                                    background-color: @orColor;
                                }
                            }
                        }
                        
                        & > a:nth-child(1) {
                            left: -25%;
                            top: 10%;
                        }
                        
                        & > a:nth-child(2) {
                            left: -33%;
                            top: 48.5%;
                        }
                        
                        & > a:nth-child(3) {
                            left: -25%;
                            bottom: 10%;
                        }
                        
                        & > a:nth-child(4) {
                            bottom: -5%;
                            left: 30%;
                        }
                    }
                }
            }
        }
        
        // Дизайн
        & > .main-s-design {
            position: absolute;
        }
    }
}

@keyframes compass-circle_ride {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes compass-circle_1 {
    0% {
        transform: scale(1);
    }
    15% {
        transform: scale(1.1);
    }
    30% {
        transform: scale(1.05);
    }
    45% {
        transform: scale(1.08);
    }
    75% {
        transform: scale(1.03);
    }
    75% {
        transform: scale(1.04);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes compass-circle_2 {
    0% {
        transform: scale(1);
    }
    15% {
        transform: scale(.95);
    }
    30% {
        transform: scale(1.08);
    }
    45% {
        transform: scale(1.01);
    }
    75% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.04);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes compass-circle_arrow {
    0% {
        transform: rotate(45deg);
    }
    25% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(-45deg);
    }
    75% {
        transform: rotate(-90deg);
    }
    100% {
        transform: rotate(45deg);
    }
}
