/*======================================*\
*
*   Title: Главная страница сайта
*   Autor: Artem Stepanov
*   E-mail: temka.do@gmail.com
*   Date: 22.11.18
*
\*======================================*/

@import "main-ready.less";

@font-face {
    font-family: mont-r;
    src: url('/fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: mont-b;
    src: url('/fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: mont-eb;
    src: url('/fonts/Montserrat-ExtraBold.ttf');
}
@font-face {
    font-family: mont-l;
    src: url('/fonts/Montserrat-Light.ttf');
}
@font-face {
    font-family: mont-sb;
    src: url('/fonts/Montserrat-SemiBold.ttf');
}

// Переменные
@bgColor: #FFF9F9;
@fontColor: #505050;
@fbColor: #0A5A7F;
@sbColor: #C5E2EF;
@fpColor: #ED022D;
@spColor: #FFDBE1;
@whiteColor: #fff;
@blackColor: #000;

// Миксины

// Флекс
.flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}

// center contain image background
.ccibg() {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

// Анимации
@animMenuMax: 5%;
@keyframes anim-menu-left {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(-@animMenuMax, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
@keyframes anim-menu-right {
    0% {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(@animMenuMax, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

// Адаптация

// Mode: Tablet
@tablet-area: 650px;
.tablet(@rules) {
  @media (max-width: @tablet-area) { @rules(); }
}

// Mode: Small-Desktop
@desktop-area: 1190px;
.desktop(@rules) {
  @media (max-width: @desktop-area) { @rules(); }
}

// Mode: Big-Desktop
@big-desktop-area: 1390px;
.big-desktop(@rules) {
  @media (max-width: @big-desktop-area) { @rules(); }
}

// Общие стили

a:active, a:focus { outline: none; }

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: mont-r;
}

body {
    width: 100%;
    height: 100%;
    background-color: @bgColor;
    overflow-x: hidden;
    font-size: 16px;
}

// Видео
.video {
    -o-object-fit: cover;
	object-fit: cover;
    .desktop({
       -o-object-fit: none;
	    object-fit: none; 
    });
}

// Блок с иконкой, фоновым цветом и заголовком
.colorNameBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    .desktop({
        margin: 10px 0;
    });
    
    // Иконка
    & > .cnb-icon {
        width: 60px;
        height: 60px;
        z-index: 2;
        .ccibg();
        
        .desktop({
            width: 50px;
            height: 50px;
        });
    }
    
    // Текст
    & > .cnb-text {
        padding: 10px 10px 10px 70px;
        max-width: 510px;
        z-index: 2;
        font-size: 1.35rem; 
        font-family: mont-sb;
        color: @fontColor;
        .big-desktop({
            font-size: 1rem;
            max-width: 310px;
        });
        .desktop({
            padding: 0 0 0 70px;
            font-size: .8rem;
        });
    }
    
    // Фон
    & > .cnb-bg {
        position: absolute;
        top: 15%;
        left: 5%;
        width: 60%;
        height: 60%;
        background-color: @spColor;
        .desktop({
            height: 80%;
        });
    }
}

// Заголовок блока
.name-block {
    font-size: 2.5rem;
    color: @fontColor;
    font-family: mont-eb;    
    align-self: flex-start;
    padding: 35px 0 35px 50px;
    .big-desktop({
        font-size: 2rem; 
        padding: 35px 0 35px 20px;
    });
    .desktop({
        font-size: 1.3rem; 
        padding: 35px 0 35px 20px;
    });
}

// Управление слайдами
.ui-slides {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    
    & > .uis-left, & > .uis-right {
        width: 35px;
        height: 35px;
        .ccibg();
        background-image: url('/img/icons/arrow-slider.svg');
        margin: 0 10px;
    }
    
    & > .uis-right {
        transform: rotate3d(0,0,1,180deg);
    }
    
    & > .uis-center {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        
        & > .uis-tap {
            width: 23px;
            height: 23px;
            border: 4px solid @fbColor;
            margin: 0 10px;
            border-radius: 100%;
            
            &.active {
                border: 12.5px solid @fbColor;
            }
        }
    }
}

// Плюсы выбора
.plus {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - @widthMenu);
    left: @widthMenu;
    .desktop({
        flex-direction: column;
        height: auto;
        width: 100%;
        left: 0;
    });
    
    
}