/*======================================*\
*
*   Title: Общие параметры
*   Autor: Artem Stepanov
*   E-mail: temka.do@gmail.com
*
\*======================================*/

@font-face {
    font-family: mont-r;
    src: url('/fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: mont-b;
    src: url('/fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: mont-eb;
    src: url('/fonts/Montserrat-ExtraBold.ttf');
}
@font-face {
    font-family: mont-l;
    src: url('/fonts/Montserrat-Light.ttf');
}
@font-face {
    font-family: mont-sb;
    src: url('/fonts/Montserrat-SemiBold.ttf');
}

// Переменные
@bgColor: #fff;
@orColor: #ff6636;
@blackColor: #000;

/*************
*
*    Примеси
*
**************/

// Флекс
.flex() {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

// center cover image background
.ccibg() {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*************
*
*    Адаптивность
*
**************/

// Mode: Tablet
@tablet-area: 750px;
.tablet(@rules) {
  @media (max-width: 768px) { @rules(); }
}

// Mode: Desktop
@desktop-area: 970px;
.desktop(@rules) {
  @media (max-width: 1280px) { @rules(); }
}

/*************
*
*    Общие стили
*
**************/

a:active, a:focus { outline: none; }

input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
:focus {outline:none;}
textarea {resize:none;}
textarea {resize:vertical;}
textarea {resize:horizontal;}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: mont-r;
}

body {
    font-size: 16px;
    overflow-x: hidden;
}

/*************
*
*    Дополнительные общие стили
*
**************/

// Меню кнопка
.menu-btn {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 119px;
    height: 119px;
    z-index: 15;
    cursor: pointer;
    
    // Палочки
    & > .menu-b-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
        
        & > div {
            width: 100%;
            height: 2px;
            background-color: @bgColor;
            margin: 4px 0;
            border-radius: 100%;
        }
    }
    
    // Надпись
    & > .menu-b-label {
        text-transform: uppercase;
        color: @bgColor;
        font-size: .8rem;
        font-family: mont-b;
    }
}