/*======================================*\
*
*   Title: Главная страница сайта
*   Autor: Artem Stepanov
*   E-mail: temka.do@gmail.com
*
\*======================================*/

@import 'style';

h2 {
	font-family: 'Nord', 'Arial';
	color: @h;
	font-size: 56px;
	text-align: center;

	& + .block-desk {
		color: @desk;
		font-size: 20px;
		text-align: center;
		left: -40px;
	}
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	background-color: @white;
	transform: translate3d(0, 36px, 0);
	z-index: 1000;
	transition: transform .4s ease, box-shadow .4s ease, ;

	& > .header-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		max-width: 1364px;
		height: 100%;
		margin: 0 auto;

		& > .header-w-left {
			display: flex;
			align-items: center;
			height: 80px;

			// Логотип
			& > .hwl-logo {
				width: 75px;
				height: 75px;

				& > img {
					width: inherit;
					height: inherit;
				}
			}

			// Меню
			& > .hwl-menu {
				display: flex;
				width: 536px;
				height: 100%;
				margin-left: 100px;

				& > ul {
					display: flex;
					align-items: center;
					height: 100%;
					width: 100%;
					justify-content: space-between;
					padding: 0;
					margin: 0;

					& li {
						position: relative;
						list-style: none;
						cursor: pointer;
						color: @font;

						& a {
							text-decoration: none;
						}

						&.active {
							&:before {
								transform: scale3d(1, 1, 1);
							}
						}

						&:before {
							.after();
							transform: scale3d(0, 1, 1);
							transition: transform .2s ease;
						}

						&:not(.active):hover:before {
							transform: scale3d(1, 1, 1);
						}

						&.more {
							&:after {
								content: url('/img/arrow_down.png');
								position: absolute;
								right: -9px;
								top: 0;
							}
						}
					}
				}
			}
		}

		& > .header-w-right {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			height: 80px;

			// Кнопка "Оформить заявку"
			& > .hwr-buy {
				width: 236px;
				height: 40px;
				margin-right: 20px;
				border: 2px solid @btn;
				border-radius: 5px;
				text-align: center;
				line-height: 35px;
				color: @font;
				cursor: pointer;
				transition: background-color .2s ease, color .2s ease;

				&:hover {
					background-color: @btn;
					color: @white;
				}
			}

			// Краткая инфа
			& > .hwr-info {
				display: flex;
				flex-direction: column;

				& > .hwr-i-tel {
					position: relative;
					color: @font;
					font-size: 22px;
					text-decoration: none;

					&:after {
						.after();
						transform: scale3d(0, 1, 1);
						transition: transform .2s ease;
					}

					&:hover:after {
						transform: scale3d(1, 1, 1);
					}
				}

				& > .hwr-i-mail {
					position: relative;
					color: @desk;
					font-size: 16px;
					text-decoration: none;

					&:after {
						.after();
						width: 66%;
						height: 1px;
						background-color: @desk;
						transform: scale3d(0, 1, 1);
						transition: transform .2s ease;
					}

					&:hover:after {
						transform: scale3d(1, 1, 1);
					}
				}
			}
		}
	}

	&.fixed {
		transform: translate3d(0, 0, 0);
		box-shadow: 0 2px 6px rgba(0,0,0,.1);
	}
}

main {
	position: relative;
	width: 100%;
}

.block-first {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100vh;
	max-width: 1364px;
	margin: 0 auto;
	padding-top: 29.2vh;

	& > .bf-left {
		display: flex;
		flex-direction: column;
		max-width: 834px;
		color: @desk;
		font-size: 20px;
		margin-top: 90px;

		& > .bfl-slogan {
			position: relative;
			z-index: 2;

			&:before {
				.ellips();
			}

			&:after {
				.mesh();
			}
		}

		& > h1 {
			z-index: 2;
		}

		& > .bfl-desk {
			margin-top: 30px;
			z-index: 2;
		}

		// Кнопка заказать
		& > .bfl-buy {
			width: 370px;
			height: 60px;
			text-align: center;
			background-color: @btn;
			color: @white;
			line-height: 60px;
			border-radius: 5px;
			margin-top: 123px;
			cursor: pointer;
			transition: background-color .2s ease;

			&:hover {
				background-color: @btnhover;
			}
		}
	}

	& > .bf-right {
		position: relative;
		width: 488px;
		height: 494px;

		& > img {
			position: relative;
			width: inherit;
			height: inherit;
			z-index: 2;
		}

		&:after {
			content: url('/img/deckor-1.png');
			position: absolute;
			width: 626px;
			height: 514px;
			top: 0;
			left: 0;
		}
	}
}

.block-adv {
	.block();

	& > .ba-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin: 45px 0;

		// Картинка
		& > .bai-img {
			position: relative;
			width: 550px;
			height: 400px;

			& img {
				position: relative;
				width: inherit;
				height: inherit;
				object-fit: cover;
				z-index: 4;
			}
		}

		// Текст
		& > .bai-adv {
			width: 675px;
			font-size: 20px;

			& > .baia-text {
				margin-top: 40px;
				color: @font;
			}
		}

		&:nth-child(2n) {
			flex-direction: row-reverse;
		}

		&:nth-child(3) {
			margin-top: 90px;

			& > .bai-img {
				&:after {
					.mesh();
					top: -57px;
				}
			}
		}

		&:nth-child(4) {
			& > .bai-img {
				&:before {
					content: url('/img/deck-2.png');
					position: absolute;
					width: 359px;
					height: 289px;
					top: -252px;
    				right: -138px;
				}

				&:after {
					content: url('/img/deck-3.png');
					position: absolute;
					width: 359px;
					height: 289px;
					bottom: -252px;
    				left: -138px;
				}
			}
		}

		&:nth-child(6) {
			& > .bai-img {
				&:after {
					.mesh();
					top: auto;
				    right: auto;
				    bottom: -51px;
				    left: -146px;
				}
			}
		}

		&:nth-child(7) {
			& > .bai-img {
				&:after {
					content: url('/img/deck-4.png');
					position: absolute;
					width: 359px;
					height: 289px;
					top: auto;
    				right: -319px;
    				bottom: -139px;
				}
			}
		}

		&:nth-child(8) {
			& > .bai-img {
				&:after {
					.mesh();
				}
			}
		}
	}

	// Кнопка заказать
	& > .ba-buy {
		.button();
	}
}

.block-galery {
	.block();

	.bg-wrapper {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-top: 60px;

		// Галерея
		& > .bg-left {
			position: relative;
			width: 837px;

			& > img {
				position: relative;
				width: 260px;
				height: 183px;
				margin: 0 15px 15px 0;
				object-fit: cover;
				z-index: 2;
			}

			&:before {
				.ellips();
				width: 192px;
				height: 192px;
				top: -96px;
    			left: -96px;
			}

			&:after {
				content: url('/img/deck-5.png');
				position: absolute;
				width: 191px;
				height: 161px;
				bottom: -36px;
    			right: -105px;
			}
		}

		& > .bg-right {
			position: relative;
			display: flex;
			flex-direction: column;
    		justify-content: center;
			width: 398px;
			padding-left: 20px;
			color: @font;
			font-size: 16px;

			&:after {
				.mesh();
				right: auto;
				left: -329px;
				top: -39px;
			}

			& > .quote {
				position: relative;
				margin-bottom: 18px;
				font-size: 18px;

				&:before {
					content: url('/img/quote.png');
					position: absolute;
					width: 61px;
					height: 42px;
					left: -20px;
					top: -61px;
				}
			}

			& > p > span {
				font-size: 14px;
				color: @desk;
			}
		}
	}
}

.block-pack {
	.block();

	& > .bp-wrapper {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin-top: 60px;

		& > .bpw-img {
			position: relative;
			width: 276px;
			display: flex;
			flex-direction: column;
			align-items: center;

			& img {
				object-fit: cover;
				width: inherit;
				height: 260px;
				position: relative;
				z-index: 2;
			}

			& > .bpw-name {
				position: relative;
				margin-top: 27px;
				color: @font;
				z-index: 2;
			}

			&:nth-child(2n) {
				flex-direction: column-reverse;

				& > .bpw-name {
					margin-top: 0;
					margin-bottom: 27px;
					color: @font;
				}
			}

			&:nth-child(1):after {
				content: url('/img/deck-6.png');
				position: absolute;
				width: 359px;
				height: 289px;
				top: 81px;
    			left: 279px;
			}

			&:nth-child(2):after {
				.mesh();
				top: 47px;
			}

			&:nth-child(3):after {
				content: url('/img/deck-7.png');
				position: absolute;
				width: 359px;
				height: 289px;
				top: 98px;
    			left: 190px;
			}
		}
	}
}

.block-rev {
	.block();

	& > .br-wrapper {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		& > .brw-rev {
			position: relative;
			display: flex;
			flex-direction: column;
			width: 49%;
			margin-top: 70px;
			z-index: 2;

			&:before {
				content: url('/img/deck-8.png');
				position: absolute;
				width: 112px;
				height: 118px;
				top: -26px;
    			left: -50px;
			}

			& h4 {
				position: relative;
			}

			& > .rev-text {
				position: relative;
				color: @font;
				margin: 10px 0;
			}

			& > .brwr-ui {
				display: flex;
				align-items: center;

				& > .brwr-ui-like {
					display: flex;
					align-items: center;
					margin-left: 30px;
					cursor: pointer;

					&:before {
						content: '';
						background-image: url('/img/Like.svg');
						width: 22px;
						height: 18px;
						transition: background-image .2s ease;
					}

					&.active {
						&:before {
							background-image: url('/img/Liked.svg');
						}
					}

				}
			}

			&:nth-child(2):before {
				content: url('/img/deck-9.png');
			}
			&:nth-child(3):before {
				content: url('/img/deck-10.png');
			}
			&:nth-child(4):before {
				content: url('/img/deck-11.png');
			}
		}
	}

	& > .br-btns {
		display: flex;
		align-items: center;
		align-self: center;
		margin: 30px 10px 0 0;

		& > .brb-more {
			.button();
			width: 398px;
			height: 59px;
			line-height: 59px;
			background-color: @white;
			color: @font;
			font-size: 20px;
			border: 2px solid @btn;
			margin-right: 10px;

			&:hover {
				background-color: @btn;
				color: @white;
			}
		}

		& > .brb-buy {
			.button();
			width: 398px;
			height: 59px;
			line-height: 59px;
			font-size: 20px;
		}
	}
}

.block-contacts {
	.block();

	& > .bc-wrapper {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-top: 60px;

		& > .bcw-left {
			max-width: 552px;
			height: 370px;
			color: @font;
			font-size: 20px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			& > .bcw-soc {
				display: flex;

				& > a {
					width: 40px;
					height: 40px;
					background-image: url('/img/icon_vk.png');
					margin-right: 10px;
					background-size: contain;
					background-position: center;
					transform: scale3d(1, 1, 1);
					transition: transform .2s ease;

					&:last-child {
						background-image: url('/img/icon_inst.png');
					}

					&:hover {
						transform: scale3d(1.1, 1.1, 1.1);
					}
				}
			}
		}

		& > .bcw-map {
			position: relative;

			& > * {
				position: relative;
				z-index: 2;
			}

			&:before {
				content: url('/img/deck-12.png');
				position: absolute;
				width: 112px;
				height: 118px;
				top: 220px;
    			left: -110px;
			}

			&:after {
				content: url('/img/deck-13.png');
				position: absolute;
				width: 112px;
				height: 118px;
				top: 21px;
   				right: -69px;
			}
		}
	}
}

footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1364px;
	margin: 0 auto;

	& > .f-wrapper {
		display: flex;
		justify-content: space-between;
		width: 100%;

		& > .f-left {
			width: 473px;
			display: flex;
			justify-content: space-between;

			& > .fl-links {
				display: flex;
				flex-direction: column;

				& > div {
					position: relative;
					height: 18px;
					width: 197px;

					& > a {
						position: absolute;
						text-decoration: none;

						&:after {
							.after();
							transform: scale3d(0, 1, 1);
							transition: transform .2s ease;
						}

						&:hover:after {
							transform: scale3d(1, 1, 1);
						}
					}
				}
			}
		}

		& > .f-right {
			width: 604px;
			display: flex;
			justify-content: space-between;

			& > .fr-btns {
				display: flex;
				flex-direction: column;

				& > .frb-buy {
					width: 236px;
					height: 40px;
					background-color: @btn;
					color: @white;
					text-align: center;
					line-height: 40px;
					border-radius: 5px;
					cursor: pointer;
					transition: background-color .2s ease;

					&:hover {
						background-color: @btnhover;
					}
				}

				& > .frb-send {
					width: 236px;
					height: 40px;
					background-color: @white;
					color: @font;
					text-align: center;
					line-height: 36px;
					border-radius: 5px;
					border: 2px solid @h;
					margin-top: 10px;
					cursor: pointer;
					transition: background-color .2s ease, color .2s ease;

					&:hover {
						background-color: @h;
						color: @white;
					}
				}
			}

			& > .fr-contacts {
				display: flex;
				flex-direction: column;

				// Телефон и почта
				& > .frc-info {
					display: flex;
					flex-direction: column;

					& > .hwr-i-tel {
						position: relative;
						color: @font;
						font-size: 22px;
						text-decoration: none;

						&:after {
							.after();
							transform: scale3d(0, 1, 1);
							transition: transform .2s ease;
						}

						&:hover:after {
							transform: scale3d(1, 1, 1);
						}
					}

					& > .hwr-i-mail {
						position: relative;
						color: @desk;
						font-size: 16px;
						text-decoration: none;

						&:after {
							.after();
							width: 66%;
							height: 1px;
							background-color: @desk;
							transform: scale3d(0, 1, 1);
							transition: transform .2s ease;
						}

						&:hover:after {
							transform: scale3d(1, 1, 1);
						}
					}
				}

				// Соц. сети
				& > .frc-soc {
					display: flex;

					& > a {
						width: 40px;
						height: 40px;
						background-image: url('/img/icon_vk.png');
						margin: 10px 10px 0 0;
						background-size: contain;
						background-position: center;
						transform: scale3d(1, 1, 1);
						transition: transform .2s ease;

						&:last-child {
							background-image: url('/img/icon_inst.png');
						}

						&:hover {
							transform: scale3d(1.1, 1.1, 1.1);
						}
					}
				}
			}

			& > .fr-logo {
				width: 95px;
				height: 95px;

				& img {
					width: 95px;
					height: 95px;
					object-fit: contain;
				}
			}
		}
	}

	& > .copyright {
		margin: 20px 0;
		color: @font;
	}
}