@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3g3D-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459W1hzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3g3D-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3g3D-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_c5H3g3D-w.ttf) format('truetype');
}
a:active,
a:focus {
  outline: none;
}
input,
textarea {
  outline: none;
}
input:active,
textarea:active {
  outline: none;
}
:focus {
  outline: none;
}
textarea {
  resize: none;
}
textarea {
  resize: vertical;
}
textarea {
  resize: horizontal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.body {
  --backgroundColor: #29253F;
  --backgroundDarkColor: #1E1A30;
  --backgroundLightColor: #D3CDF5;
  --fontColor: #DAD7E5;
  --hColor: #F3F2F5;
  --borderColor: #6A619D;
  --yellowBorderColor: #ECE151;
  --yellowHoverColor: #e4d72b;
  --faqBg: #37334D;
  --faqBg2: #221E39;
  --maxScreen: 1670px;
  --bigScreen: 1390px;
  --middleScreen: 1200px;
  --tabletScreen: 950px;
  --tabletMediumScreen: 700px;
  --mobileScreen: 450px;
  --minScreen: 300px;
  --minMiddleScreen: 270px;
  overflow-x: hidden;
  background-color: var(--backgroundColor);
  color: var(--fontColor);
  scroll-behavior: smooth;
}
.link {
  position: relative;
  color: var(--fontColor);
  text-decoration: none;
}
.link:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background-color: var(--fontColor);
  opacity: 0;
  transition: opacity 0.2s;
}
.link:hover:after {
  opacity: 1;
}
.link--margin-right {
  margin-right: 199px;
}
@media screen and (max-width: 1000px) {
  .link--margin-right {
    margin-right: 0;
  }
}
.logo {
  width: 103px;
  height: 45px;
  object-fit: contain;
  margin: 5px 30px;
  transition: margin 0.2s;
}
@media screen and (max-width: 1000px) {
  .logo {
    width: 93px;
    height: 41px;
    margin: 19px 0;
  }
}
@media screen and (max-width: 325px) {
  .logo {
    width: 76px;
    height: 41px;
  }
}
.header {
  width: 100vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.1s, box-shadow 0.2s;
  will-change: box-shadow, background-color;
  z-index: 100;
}
.header.fix {
  background-color: var(--backgroundColor);
  box-shadow: 0 3px 16px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1000px) {
  .header.fix .logo {
    margin: 9px 0;
  }
}
.header.fix .nav__link {
  padding: 10px 5px;
}
.header.fix .header__bottom {
  box-shadow: unset;
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  border-bottom: 1px solid var(--borderColor);
}
.header__top-contact {
  display: flex;
  align-items: center;
  margin: 0 30px;
}
@media screen and (max-width: 1000px) {
  .header__top-contact {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin: 0;
  }
}
@media screen and (max-width: 500px) {
  .header__top-contact > .link {
    font-size: 14px;
  }
}
.header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 67%;
}
@media screen and (max-width: 1400px) {
  .header__bottom {
    width: 85%;
  }
}
@media screen and (max-width: 1000px) {
  .header__bottom {
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: var(--backgroundColor);
    box-shadow: 0 3px 16px rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
  }
}
.header__bottom.active {
  height: auto;
  opacity: 1;
  visibility: visible;
}
.nav__link {
  position: relative;
  color: var(--fontColor);
  text-decoration: none;
  padding: 20px 5px;
  transition: padding 0.2s;
}
.nav__link:before {
  content: '';
  position: absolute;
  left: 0;
  top: -1px;
  width: 100%;
  height: 3px;
  background-color: var(--fontColor);
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.2s;
}
.nav__link.active:before,
.nav__link:hover:before {
  transform: scaleY(1);
}
.menu_mob {
  display: none;
  width: 24px;
  height: 17px;
  cursor: pointer;
}
@media screen and (max-width: 1000px) {
  .menu_mob {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
.menu_mob > i {
  width: 100%;
  height: 2px;
  background-color: var(--fontColor);
  border-radius: 50vh;
  transform-origin: left;
  transition: transform 0.2s, opacity 0.2s;
}
.menu_mob.active > i:nth-child(1) {
  transform: rotate(45deg) scaleX(0.9);
}
.menu_mob.active > i:nth-child(2) {
  opacity: 0;
}
.menu_mob.active > i:nth-child(3) {
  transform: rotate(-45deg) scaleX(0.9);
}
.title {
  color: var(--hColor);
  text-align: center;
}
.title--firstscreen {
  z-index: 1;
}
.title--main {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}
@media screen and (max-width: 1270px) {
  .title--main {
    width: 92%;
    font-size: 28px;
  }
}
@media screen and (max-width: 500px) {
  .title--main {
    width: 100%;
  }
}
@media screen and (max-width: 325px) {
  .title--contacts {
    font-size: 25px;
  }
}
.title--h3 {
  font-size: 28px;
  font-weight: 400;
}
@media screen and (max-width: 1400px) {
  .title--h3 {
    font-size: 26px;
  }
}
@media screen and (max-width: 500px) {
  .title--h3 {
    font-size: 21px;
  }
}
.title--h4 {
  font-size: 26px;
  font-weight: 500;
}
.title__span--semibold {
  font-weight: 600;
}
.input__checkbox {
  display: none;
}
.input__checkbox + label {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .input__checkbox + label {
    font-size: 14px;
  }
}
.input__checkbox + label:before {
  content: '';
  position: absolute;
  left: -35px;
  top: -5px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid var(--backgroundDarkColor);
}
@media screen and (max-width: 500px) {
  .input__checkbox + label:before {
    width: 20px;
    height: 20px;
  }
}
.input__checkbox + label:after {
  content: '';
  position: absolute;
  left: -29px;
  top: 1px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--backgroundDarkColor);
  opacity: 0;
  transition: opacity 0.2s;
}
@media screen and (max-width: 500px) {
  .input__checkbox + label:after {
    width: 10px;
    height: 10px;
  }
}
.input__checkbox:checked + label:after {
  opacity: 1;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.btn__form {
  width: 211px;
  height: 53px;
  background: linear-gradient(#ece151, #BC962D);
  border: unset;
  border-radius: 50vw;
  color: var(--backgroundColor);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  transition: box-shadow 0.2s;
}
.btn__form:hover {
  box-shadow: 0 2px 16px rgba(236, 225, 81, 0.2), 0 4px 28px rgba(236, 225, 81, 0.1);
}
.btn--margin-top {
  margin-top: 25px;
}
.btn--margin-topmin {
  margin-top: 10px;
}
.btn__standart {
  width: 483px;
  height: 104px;
  border-radius: 50vh;
  border: 4px solid var(--borderColor);
  justify-content: space-between;
  padding: 0 33px;
  box-shadow: 0 0 16px var(--borderColor), inset 0 0 16px var(--borderColor);
  transition: padding 0.2s;
}
.btn__standart:hover {
  animation: btn__standart-animate 5s linear infinite;
  padding: 0 15px;
}
@media screen and (max-width: 1700px) {
  .btn__standart {
    width: 400px;
    height: 95px;
  }
}
@media screen and (max-width: 1400px) {
  .btn__standart {
    width: 370px;
    height: 85px;
  }
  .btn__standart > img:first-child {
    max-width: 50%;
  }
}
@media screen and (max-width: 1270px) {
  .btn__standart {
    width: 270px;
    height: 75px;
  }
  .btn__standart > img:last-child {
    max-width: 25%;
  }
}
@media screen and (max-width: 1000px) {
  .btn__standart {
    width: 220px;
    height: 60px;
    border: 2px solid var(--borderColor);
  }
}
@media screen and (max-width: 750px) {
  .btn__standart {
    width: 90%;
    height: 70px;
    margin: 20px 0;
  }
}
.btn__yellow {
  width: 250px;
  height: 64px;
  border-radius: 32px;
  border: 2px solid var(--yellowBorderColor);
  padding: 0 33px;
  color: var(--fontColor);
  text-decoration: none;
  box-shadow: 0 0 16px var(--yellowBorderColor), inset 0 0 16px var(--yellowBorderColor);
  transition: box-shadow 0.4s;
}
.btn__yellow:hover {
  box-shadow: 0 0 22px var(--yellowHoverColor), inset 0 0 22px var(--yellowHoverColor);
}
@keyframes btn__standart-animate {
  0% {
    box-shadow: 0 0 16px var(--borderColor), inset 0 0 16px var(--borderColor);
  }
  15% {
    box-shadow: 0 0 60px rgba(175, 75, 184, 0.5), inset 0 0 60px rgba(175, 75, 184, 0.5);
  }
  35% {
    box-shadow: 0 0 16px rgba(184, 75, 75, 0.5), inset 0 0 16px rgba(184, 75, 75, 0.5);
  }
  50% {
    box-shadow: 0 0 60px rgba(184, 173, 75, 0.5), inset 0 0 60px rgba(184, 173, 75, 0.5);
  }
  65% {
    box-shadow: 0 0 16px rgba(75, 184, 90, 0.5), inset 0 0 16px rgba(75, 184, 90, 0.5);
  }
  80% {
    box-shadow: 0 0 60px rgba(75, 162, 184, 0.5), inset 0 0 60px rgba(75, 162, 184, 0.5);
  }
  100% {
    box-shadow: 0 0 16px var(--borderColor), inset 0 0 16px var(--borderColor);
  }
}
.btn__article {
  width: 230px;
  height: 37px;
  color: var(--fontColor);
  text-decoration: none;
  border: 1px solid var(--borderColor);
  border-radius: 19px;
  box-shadow: unset;
  padding: 0 15px;
  font-size: 14px;
  justify-content: space-between;
}
.btn__arrow {
  width: 26px;
}
.main {
  width: 100vw;
}
.block {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block--overflow {
  overflow: hidden;
}
.block--back {
  background-color: var(--backgroundDarkColor);
}
.block__firstscreen {
  padding-top: 125px;
}
.block__firstscreen_desk {
  width: 1100px;
  text-align: center;
  margin-top: 11px;
  font-size: 18px;
  z-index: 1;
}
@media screen and (max-width: 1270px) {
  .block__firstscreen_desk {
    font-size: 16px;
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  .block__firstscreen_desk {
    font-size: 14px;
    width: 90%;
  }
}
.block__firstscreen_desk--aleft {
  text-align: left;
}
.block__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: var(--maxScreen);
}
@media screen and (max-width: 1700px) {
  .block__wrapper {
    max-width: var(--bigScreen);
  }
}
@media screen and (max-width: 1400px) {
  .block__wrapper {
    max-width: var(--middleScreen);
  }
}
@media screen and (max-width: 1270px) {
  .block__wrapper {
    max-width: var(--tabletScreen);
  }
}
@media screen and (max-width: 1000px) {
  .block__wrapper {
    max-width: var(--tabletMediumScreen);
  }
}
@media screen and (max-width: 750px) {
  .block__wrapper {
    max-width: var(--mobileScreen);
  }
}
@media screen and (max-width: 500px) {
  .block__wrapper {
    max-width: var(--minScreen);
  }
}
@media screen and (max-width: 325px) {
  .block__wrapper {
    max-width: var(--minMiddleScreen);
  }
}
.block__wrapper--padding-top {
  padding-top: 90px;
}
@media screen and (max-width: 500px) {
  .block__wrapper--padding-top {
    padding-top: 40px;
  }
}
.block__wrapper--middle-width {
  width: var(--bigScreen);
}
.block__wrapper-back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: -1;
}
@media screen and (max-width: 1000px) {
  .block__wrapper-back {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.block__wrapper-back--opacity {
  opacity: 0.03;
}
.block__wrapper--width {
  max-width: 100%;
  background-color: var(--backgroundDarkColor);
}
.block__wrapper--margin {
  margin: 50px 0 0;
}
.block__wrapper--marginb {
  margin-bottom: 70px;
}
.block__wrapper--padding {
  padding: 21px 0 0;
}
.block__wrapper--border {
  border: 2px solid var(--yellowBorderColor);
  border-left: unset;
  border-right: unset;
}
.block > .block__wrapper--fullw {
  max-width: 100vw;
}
.block__order-title {
  font-size: 20px;
  text-align: center;
}
@media screen and (max-width: 1270px) {
  .block__order-title {
    width: 80%;
  }
}
.block__pluses {
  flex-direction: row;
  justify-content: space-evenly;
}
@media screen and (max-width: 1000px) {
  .block__pluses {
    flex-wrap: wrap;
  }
}
.block__wrapper-form {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}
.block__wrapper-form > img {
  height: 400px;
}
@media screen and (max-width: 1270px) {
  .block__wrapper-form > img {
    height: 400px;
  }
}
@media screen and (max-width: 1000px) {
  .block__wrapper-form > img {
    margin: 20px 0;
  }
}
@media screen and (max-width: 500px) {
  .block__wrapper-form > img {
    height: auto;
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .block__wrapper-form {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .block__wrapper-form {
    width: 100%;
  }
}
.block__wrapper-form--margint {
  margin-top: 70px;
}
@media screen and (max-width: 1270px) {
  .block__wrapper-form-contact {
    flex-direction: column;
  }
}
.form__firstscreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  font-size: 16px;
  background-color: var(--backgroundLightColor);
  color: var(--backgroundDarkColor);
  border-radius: 3px;
  box-sizing: border-box;
  animation: form-animate 6s linear 0s infinite;
}
.form__firstscreen:before {
  content: '';
  width: 100%;
  height: 3px;
  background-color: var(--borderColor);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
@media screen and (max-width: 1000px) {
  .form__firstscreen {
    margin: 0 0 20px;
  }
}
@keyframes form-animate {
  0% {
    box-shadow: 0 6px 60px rgba(91, 75, 184, 0.5);
  }
  15% {
    box-shadow: 0 6px 60px rgba(175, 75, 184, 0.5);
  }
  35% {
    box-shadow: 0 6px 60px rgba(184, 75, 75, 0.5);
  }
  50% {
    box-shadow: 0 6px 60px rgba(184, 173, 75, 0.5);
  }
  65% {
    box-shadow: 0 6px 60px rgba(75, 184, 90, 0.5);
  }
  80% {
    box-shadow: 0 6px 60px rgba(75, 162, 184, 0.5);
  }
  100% {
    box-shadow: 0 6px 60px rgba(91, 75, 184, 0.5);
  }
}
.form__order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1056px;
  margin: 20px 0 5px;
}
@media screen and (max-width: 1270px) {
  .form__order {
    flex-direction: column;
  }
}
@media screen and (max-width: 1000px) {
  .form__order {
    max-width: 90%;
  }
}
.form__title {
  margin: 20px 15px 0;
  text-align: center;
  color: var(--backgroundDarkColor);
}
.form__title--min {
  margin: 15px 10px 0;
  font-size: 22px;
}
.form__desk {
  margin-top: 5px;
}
@media screen and (max-width: 500px) {
  .form__desk {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
  }
}
.form__desk--min {
  font-size: 14px;
  margin-top: 5px;
}
.form__checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 315px;
  margin-top: 30px;
}
@media screen and (max-width: 750px) {
  .form__checkbox-wrapper {
    width: 70%;
  }
}
@media screen and (max-width: 500px) {
  .form__checkbox-wrapper {
    margin-left: 20px;
  }
}
.form__checkbox-wrapper--min {
  margin-top: 15px;
  width: 250px;
}
@media screen and (max-width: 750px) {
  .form__checkbox-wrapper--min {
    width: 70%;
  }
}
@media screen and (max-width: 500px) {
  .form__checkbox-wrapper--min {
    margin-left: 20px;
  }
}
.form__input-wrapper {
  position: relative;
  width: 90%;
  margin-top: 30px;
}
.form__input {
  width: 100%;
  background: transparent;
  border: unset;
  border-bottom: 1px solid var(--backgroundDarkColor);
  color: var(--backgroundDarkColor);
  font-weight: 200;
  font-size: 16px;
  padding: 0 10px 5px;
}
.form__input + label {
  position: absolute;
  top: 0;
  left: 10px;
  pointer-events: none;
  transition: top 0.2s, font-size 0.2s, color 0.2s;
}
.form__input:not(:placeholder-shown) + label,
.form__input:focus + label {
  top: -1.3rem;
  font-size: 12px;
  color: var(--backgroundDarkColor);
}
.form__input--white {
  border-bottom: 1px solid var(--borderColor);
  color: var(--fontColor);
}
.form__input--white:not(:placeholder-shown) + label,
.form__input--white:focus + label {
  color: var(--borderColor);
}
.form__input-wrapper--width {
  width: 320px;
  margin-top: 0;
}
@media screen and (max-width: 325px) {
  .form__input-wrapper--width {
    width: 95%;
  }
}
@media screen and (max-width: 1270px) {
  .form__input-wrapper--margin-b {
    margin: 0 0 30px;
  }
}
.form__politic {
  width: 215px;
  color: var(--borderColor);
  font-size: 14px;
  font-weight: 200;
  text-align: center;
}
.form__politic--margin {
  margin: 20px 0 10px;
}
.form__politic--marginmin {
  margin: 10px 0;
}
.form__politic--width {
  width: auto;
  margin-top: 0;
}
.card__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 272px;
  height: 235px;
  margin: 0 15px;
  margin-top: 84px;
  background-color: var(--backgroundDarkColor);
  border-radius: 3px;
  box-shadow: 0 6px 20px rgba(106, 97, 157, 0.16);
  transition: box-shadow 0.2s, transform 0.2s;
  will-change: box-shadow, transform;
}
.card__wrapper:hover {
  box-shadow: 0 6px 35px rgba(106, 97, 157, 0.5);
  transform: scale(1.05);
}
.card__wrapper:before {
  content: '';
  width: 100%;
  height: 3px;
  background-color: var(--borderColor);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.card__wrapper:nth-child(2) .card__img {
  width: 130px;
  margin-bottom: 14px;
}
.card__wrapper:nth-child(2) .card__desk {
  margin: 20px 10px 0;
}
.card__wrapper:nth-child(3) .card__img {
  width: 150px;
  margin-top: -75px;
  margin-bottom: 20px;
}
.card__wrapper:nth-child(3) .card__desk {
  margin: 43px 15px 0;
}
.card__wrapper:nth-child(4) .card__img {
  margin-bottom: 12px;
}
.card__wrapper:nth-child(4) .card__desk {
  margin: 20px 7px 0;
}
.card__wrapper:nth-child(5) .card__img {
  width: 98px;
  margin-bottom: 10px;
}
@media screen and (max-width: 1270px) {
  .card__wrapper {
    width: 272px;
    height: 270px;
  }
}
@media screen and (max-width: 1000px) {
  .card__wrapper {
    width: 272px;
    height: 235px;
    margin-top: 110px;
  }
}
@media screen and (max-width: 500px) {
  .card__wrapper {
    margin-top: 125px;
  }
}
.card__img {
  margin-top: -80px;
  width: 120px;
  object-fit: contain;
}
.card__title {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin: 31px 10px 0;
}
@media screen and (max-width: 1400px) {
  .card__title {
    margin: 10px 10px 0;
  }
}
.card__desk {
  text-align: center;
  margin: 20px 20px;
  font-size: 16px;
  font-weight: 200;
}
@media screen and (max-width: 1400px) {
  .card__desk {
    font-size: 14px;
  }
}
.canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  transform: scaleX(-1);
}
@media screen and (max-width: 1000px) {
  .canvas {
    display: none;
  }
}
.canvas__img {
  position: absolute;
  transform: translate3d(0, 0, 0);
  transition: transform 0.1s linear;
}
.canvas__img-low {
  left: 1011px;
  top: 378px;
  width: 49vw;
}
.canvas__img-middle {
  left: 68px;
  top: 29px;
  width: 92vw;
}
.canvas__img-middle_top {
  left: 68px;
  top: 162px;
  width: 45vw;
}
.canvas__img-high {
  left: -10px;
  top: 237px;
  width: 55vw;
}
.canvas__img-roulet {
  left: 290px;
  top: 335px;
  width: 20vw;
  transform: scaleX(-1);
}
.hblock {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 60px 0;
}
@media screen and (max-width: 1270px) {
  .hblock {
    flex-direction: column-reverse;
    margin: 0 0 60px;
  }
}
.hblock--aic {
  align-items: center;
}
@media screen and (max-width: 1270px) {
  .hblock--noreverse {
    flex-direction: column;
  }
}
.hblock__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1400px) {
  .hblock__wrapper {
    width: 48%;
  }
}
@media screen and (max-width: 1270px) {
  .hblock__wrapper {
    width: 100%;
    margin: 60px 0 0;
  }
}
.hblock__wrapper--nomargin {
  margin: 0;
}
.hblock__wrapper--width {
  width: 590px;
  font-size: 20px;
}
@media screen and (max-width: 1400px) {
  .hblock__wrapper--width {
    width: 48%;
  }
}
@media screen and (max-width: 1270px) {
  .hblock__wrapper--width {
    width: 100%;
    font-size: 16px;
  }
}
.hblock__wrapper--rmargin {
  margin-right: 130px;
}
@media screen and (max-width: 500px) {
  .hblock--nomargin-adap {
    margin: 0;
  }
}
.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 680px;
  margin-top: 35px;
}
@media screen and (max-width: 1400px) {
  .logos {
    width: 100%;
  }
}
@media screen and (max-width: 1270px) {
  .logos {
    margin-top: 0;
  }
}
.logos__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px 0;
}
.logos__img {
  object-fit: contain;
  transition: transform 0.2s;
  will-change: transform;
}
.logos__img:hover {
  transform: scale3d(1.2, 1.2, 1.2);
}
@media screen and (max-width: 1400px) {
  .logos__img--width {
    width: 30%;
  }
}
@media screen and (max-width: 500px) {
  .logos__img--widthQiwi {
    width: 15%;
  }
}
@media screen and (max-width: 500px) {
  .logos__img--width3 {
    width: 50%;
  }
}
@media screen and (max-width: 750px) {
  .logos__img--width5 {
    width: 16%;
  }
}
@media screen and (max-width: 750px) {
  .logos__img--width6 {
    width: 14%;
  }
}
.video {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 698px;
  padding: 10px 7px 7px 7px;
  background-color: var(--backgroundColor);
  box-shadow: 0 6px 20px var(--backgroundColor);
  border-radius: 3px;
  overflow: hidden;
}
.video:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 3px;
  background-color: var(--borderColor);
}
@media screen and (max-width: 1400px) {
  .video {
    width: 100%;
  }
}
.social {
  display: flex;
  align-items: center;
}
.social > * + * {
  margin-left: 25px;
}
@media screen and (max-width: 325px) {
  .social > * + * {
    margin-left: 15px;
  }
}
.social > a {
  transition: transform 0.2s;
  will-change: transform;
}
.social > a:hover {
  transform: scale3d(1.2, 1.2, 1.2);
}
.social--margin-top {
  align-self: flex-start;
  margin-top: 50px;
}
@media screen and (max-width: 1270px) {
  .social--margin-top {
    align-self: unset;
  }
}
.social--margin {
  margin: 25px 0;
}
.list > li {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 18px;
  list-style: none;
  padding-left: 50px;
}
.list > li:before {
  content: '';
  position: absolute;
  left: 0;
  width: 21px;
  height: 21px;
  border-radius: 11vh;
  border: 2px solid var(--borderColor);
  box-shadow: 0 0 6px var(--borderColor), inset 0 0 6px var(--borderColor);
  background-color: transparent;
  transition: transform 0.4s, border-color 0.4s, box-shadow 0.4s;
}
@media screen and (max-width: 1270px) {
  .list > li {
    font-size: 16px;
  }
}
.list > li:hover:before {
  transform: scale3d(1.2, 1.2, 1.2);
  border: 2px solid var(--backgroundLightColor);
  box-shadow: 0 0 16px var(--backgroundLightColor), inset 0 0 10px var(--backgroundLightColor);
}
.list > li + li {
  margin-top: 20px;
}
@media screen and (max-width: 1270px) {
  .list--bg {
    position: relative;
    background-color: var(--backgroundDarkColor);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(106, 97, 157, 0.16);
  }
  .list--bg:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--borderColor);
    width: 100%;
    height: 3px;
  }
}
@media screen and (max-width: 1270px) {
  .list--bg > li {
    margin: 30px;
  }
}
@media screen and (max-width: 500px) {
  .list--bg > li {
    margin: 20px 10px;
  }
}
.hr-card {
  display: grid;
  grid-template-columns: repeat(11, 100px);
  grid-template-rows: 100px;
  width: 100vw;
  justify-content: space-around;
}
.hr-card > img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
}
.hr-card > img:hover {
  transform: rotateY(360deg);
}
@media screen and (max-width: 1270px) {
  .hr-card {
    grid-template-columns: repeat(11, 60px);
  }
}
@media screen and (max-width: 1000px) {
  .hr-card {
    grid-template-columns: repeat(11, 50px);
  }
}
@media screen and (max-width: 750px) {
  .hr-card {
    grid-template-columns: repeat(11, 30px);
  }
}
@media screen and (max-width: 500px) {
  .hr-card {
    grid-template-columns: repeat(11, 20px);
  }
}
.manufacturers {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.manufacturers__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 25px 0;
}
@media screen and (max-width: 750px) {
  .manufacturers__row {
    flex-direction: column;
    margin: 0;
  }
}
.manufacturers__row--jcsa {
  justify-content: space-around;
}
.country-map {
  margin-top: 50px;
}
.country-map > .map {
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: contain;
  width: 800px;
  height: 485px;
}
@media screen and (max-width: 1000px) {
  .country-map > .map {
    width: 500px;
    height: 285px;
  }
}
#tooltip {
  background: var(--backgroundColor);
  border: 1px solid var(--borderColor);
  color: var(--fontColor);
  margin: 10px;
  padding: 3px 5px;
  position: absolute;
  visibility: hidden;
}
area:hover {
  background-color: #fff;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding-bottom: 5px;
  background-color: var(--backgroundDarkColor);
}
@media screen and (max-width: 500px) {
  .footer__info {
    width: 90%;
    text-align: center;
  }
}
@media screen and (max-width: 325px) {
  .footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
  }
}
.footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.footer__nav > .nav__link {
  margin: 0 5px;
}
.nav__link--nocheck {
  padding-bottom: 1px;
  margin-bottom: 19px;
}
.nav__link--nocheck:before {
  display: none;
}
.block__info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 550px;
  height: 384px;
  background-color: var(--backgroundDarkColor);
  border-radius: 3px;
  overflow: hidden;
}
.block__info:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--borderColor);
}
@media screen and (max-width: 1270px) {
  .block__info {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 750px) {
  .block__info {
    width: 100%;
  }
}
.block__info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  text-align: center;
}
.block__info-wrapper > h4 {
  font-size: 18px;
  font-weight: 500;
}
.block__info-wrapper > p {
  font-size: 18px;
  font-weight: 200;
}
.block__info-title {
  margin-top: 20px;
}
.block__contact-desk {
  width: 90%;
  margin-top: 60px;
  text-align: center;
}
.map-contact {
  width: 100%;
  height: 350px;
  margin-top: 25px;
}
.map-contact > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.faq {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 70px 0;
}
.faq__wrapper {
  width: 812px;
}
.faq__wrapper:nth-child(2n) > .faq__question {
  background-color: var(--faqBg2);
}
@media screen and (max-width: 1000px) {
  .faq__wrapper {
    width: 95%;
  }
}
.faq__question {
  position: relative;
  padding: 26px 15px;
  width: 100%;
  background-color: var(--backgroundDarkColor);
  cursor: pointer;
  transition: background-color 0.5s;
}
.faq__question:after {
  content: url('../img/arrow_faq.png');
  position: absolute;
  right: 15px;
  top: 38%;
  transition: transform 0.5s;
  will-change: transform;
}
.faq__wrapper > .faq__question.active {
  background-color: var(--faqBg);
}
.faq__wrapper > .faq__question.active:after {
  transform: rotate(90deg);
}
.faq__wrapper > .faq__question.active + .faq__answer {
  padding: 37px;
  max-height: 670px;
  opacity: 1;
}
@media screen and (max-width: 750px) {
  .faq__wrapper > .faq__question.active + .faq__answer {
    padding: 37px 27px;
  }
}
.faq__answer {
  position: relative;
  background-color: var(--faqBg);
  padding: 0 37px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: padding 1s, max-height 1s, opacity 1s;
}
@media screen and (max-width: 750px) {
  .faq__answer {
    padding: 0 27px;
  }
}
.faq__answer:before {
  content: '';
  position: absolute;
  top: 0;
  left: 5%;
  width: 90%;
  height: 1px;
  background-color: var(--backgroundDarkColor);
}
.article {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 536px;
  margin: 20px 0;
  background-color: var(--backgroundDarkColor);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 3px 20px rgba(106, 97, 157, 0.16);
}
.article:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--borderColor);
}
@media screen and (max-width: 750px) {
  .article {
    width: 100%;
  }
}
.article__title {
  margin: 23px 23px 0;
  font-size: 14px;
  font-weight: 500;
}
.article__desk {
  font-size: 14px;
  font-weight: 300;
  margin: 15px 23px 23px;
}
.article__btn {
  align-self: flex-end;
  margin: 0 23px 23px;
}
.block__404 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block__404-p {
  margin-bottom: 50px;
  text-align: center;
}
