@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Rubik Light'), local('Rubik-Light'), url(https://fonts.gstatic.com/s/rubik/v9/iJWHBXyIfDnIV7Fqj2mZ8WU.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Rubik'), local('Rubik-Regular'), url(https://fonts.gstatic.com/s/rubik/v9/iJWKBXyIfDnIV7nFrXk.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Rubik Medium'), local('Rubik-Medium'), url(https://fonts.gstatic.com/s/rubik/v9/iJWHBXyIfDnIV7EyjmmZ8WU.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Rubik Bold'), local('Rubik-Bold'), url(https://fonts.gstatic.com/s/rubik/v9/iJWHBXyIfDnIV7F6iGmZ8WU.ttf) format('truetype');
}
@font-face {
  font-family: 'NordLight';
  src: url('../fonts/NordLight.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'NordRegular';
  src: url('../fonts/NordRegular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'NordMedium';
  src: url('../fonts/NordMedium.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'NordBold';
  src: url('../fonts/NordBold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}
a:active,
a:focus {
  outline: none;
}
input,
textarea {
  outline: none;
}
input:active,
textarea:active {
  outline: none;
}
:focus {
  outline: none;
}
textarea {
  resize: none;
}
textarea {
  resize: vertical;
}
textarea {
  resize: horizontal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
}
.body {
  --backgroundColor: #FFFFF3;
  --bgFooter: #FEFAEC;
  --fontColor: #2E1111;
  --fontHColor: #FF7D1A;
  --shadow: rgba(0, 0, 0, 0.09);
  --borderColor: #FFFFF3;
  --backgroundRedColor: #811414;
  --fontLightColor: #CCAFAF;
  --white: #fff;
  --borderImg: #E6E6CC;
  --redShadow: rgba(46, 17, 17, 0.7);
  --faqBorderColor: #C18D8D;
  --faqBorderRedColor: #CE1010;
  --linkColor: #1A7DFF;
  --maxScreen: 1640px;
  --bigScreen: 1390px;
  --middleScreen: 1200px;
  --tabletScreen: 950px;
  --tabletMediumScreen: 700px;
  --mobileScreen: 450px;
  --minScreen: 300px;
  --minMiddleScreen: 270px;
  --hfontL: 'NordLight', Arial, Helvetica, sans-serif;
  --hfontR: 'NordRegular', Arial, Helvetica, sans-serif;
  --hfontM: 'NordMedium', Arial, Helvetica, sans-serif;
  --hfontB: 'NordBold', Arial, Helvetica, sans-serif;
  --ffont: 'Rubik', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  background-color: var(--backgroundColor);
  background-image: url('../img/background.png');
  color: var(--fontColor);
  width: 100%;
  padding-top: 108px;
}
@media screen and (max-width: 1270px) {
  .body {
    padding: 108px 16px 0;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--hfontB);
  width: 100%;
  color: var(--fontHColor);
}
@media screen and (max-width: 1270px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }
}
.h_thanks {
  font-size: 37px;
  text-align: center;
  margin-top: 50px;
}
.separator_main {
  width: 100vw;
  height: 35px;
  background-image: url('../img/Separator.svg');
}
.separator_main--blue {
  background-image: url('../img/Separator-blue.svg');
}
.separator_main--purple {
  background-image: url('../img/Separator-purple.svg');
}
.cant {
  background-image: url('../img/border.png');
  border-radius: 5px;
  box-shadow: 0 0 6px var(--shadow);
}
.cant > img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.link {
  color: var(--linkColor);
  text-decoration: underline;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-weight: 600;
  font-size: 32px;
  border-radius: 5px;
  background: linear-gradient(0, #DF633C, #F18F43);
  width: 300px;
  height: 66px;
  text-decoration: none;
  cursor: pointer;
  transition: box-shadow 0.3s;
}
.btn:hover {
  box-shadow: 0 0 22px #DF633C;
}
@media screen and (max-width: 500px) {
  .btn {
    width: 95%;
  }
}
.logo {
  height: 47px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bgFooter);
  box-shadow: 0 0 12px var(--shadow);
  padding: 20px 0;
  z-index: 100;
}
.header__wrapper {
  width: 100%;
  max-width: var(--maxScreen);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1650px) {
  .header__wrapper {
    max-width: var(--bigScreen);
  }
}
@media screen and (max-width: 1410px) {
  .header__wrapper {
    max-width: var(--middleScreen);
  }
}
@media screen and (max-width: 1270px) {
  .header__wrapper {
    max-width: var(--tabletScreen);
  }
}
@media screen and (max-width: 1000px) {
  .header__wrapper {
    max-width: 100%;
    padding: 0 16px;
  }
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__nav > a {
  position: relative;
  margin-left: 30px;
  color: var(--fontColor);
  text-decoration: none;
}
.header__nav > a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: var(--fontColor);
  left: 0;
  bottom: -10px;
  opacity: 0;
  transform: scaleX(0);
  transition: opacity 0.2s, transform 0.2s;
}
.header__nav > a:hover:before,
.header__nav > a.active:before {
  opacity: 1;
  transform: scaleX(1);
}
@media screen and (max-width: 1270px) {
  .header__nav {
    display: none;
  }
}
.mobile_menu_btn {
  display: none;
  width: 25px;
  height: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;
}
.mobile_menu_btn > i {
  width: 100%;
  height: 2px;
  background-color: var(--fontColor);
  border-radius: 2px;
  transform-origin: right;
  transition: transform 0.2s, opacity 0.2s;
}
.mobile_menu_btn.active > i:first-child {
  transform: rotate(-45deg) scaleX(0.8);
}
.mobile_menu_btn.active > i:nth-child(2) {
  opacity: 0;
}
.mobile_menu_btn.active > i:last-child {
  transform: rotate(45deg) scaleX(0.8);
}
@media screen and (max-width: 1270px) {
  .mobile_menu_btn {
    display: flex;
  }
}
.mobile_menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  background-color: var(--backgroundColor);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
}
.mobile_menu.active {
  opacity: 1;
  visibility: visible;
}
.mobile_menu > a {
  position: relative;
  color: var(--fontColor);
  text-decoration: none;
  font-size: 18px;
}
.mobile_menu > a:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  border-radius: 2px;
  background-color: var(--fontColor);
  left: 0;
  bottom: -1px;
  opacity: 0;
  transform: scaleX(0);
  transition: opacity 0.2s, transform 0.2s;
}
.mobile_menu > a:hover:before,
.mobile_menu > a.active:before {
  opacity: 1;
  transform: scaleX(1);
}
.aside_btn {
  display: none;
  position: fixed;
  left: 0;
  top: 90px;
  background-color: #ffe68f;
  width: 100vw;
  box-shadow: 0 0 6px var(--shadow);
  text-align: center;
  padding: 10px 0;
  z-index: 50;
  border-bottom: 2px solid var(--fontHColor);
}
@media screen and (max-width: 1270px) {
  .aside_btn {
    display: block;
  }
}
.block {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: var(--maxScreen);
  margin: 50px 0 90px;
}
@media screen and (max-width: 1650px) {
  .block {
    max-width: var(--bigScreen);
  }
}
@media screen and (max-width: 1410px) {
  .block {
    max-width: var(--middleScreen);
  }
}
@media screen and (max-width: 1270px) {
  .block {
    max-width: var(--tabletScreen);
  }
}
@media screen and (max-width: 1000px) {
  .block {
    max-width: var(--tabletMediumScreen);
  }
}
@media screen and (max-width: 750px) {
  .block {
    max-width: var(--mobileScreen);
    margin: 50px 0;
  }
}
.wrapper {
  width: 100%;
  position: relative;
}
@media screen and (max-width: 1270px) {
  .wrapper__firstscreen {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
}
.wrapper--grid {
  display: grid;
  grid-template-columns: 536px 1fr;
  grid-template-rows: 70px repeat(3, 1fr);
  row-gap: 32px;
  justify-items: center;
}
@media screen and (max-width: 1650px) {
  .wrapper--grid {
    grid-template-columns: 430px 1fr;
  }
}
@media screen and (max-width: 1410px) {
  .wrapper--grid {
    grid-template-columns: 390px 1fr;
  }
}
@media screen and (max-width: 1270px) {
  .wrapper--grid {
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, auto);
  }
}
.wrapper__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
}
@media screen and (max-width: 1650px) {
  .wrapper__grid {
    grid-template-columns: 50% 50%;
  }
}
@media screen and (max-width: 1410px) {
  .wrapper__grid {
    grid-template-columns: 100%;
    justify-items: center;
    grid-template-rows: repeat(4, auto);
  }
}
.first_screen__title {
  max-width: 950px;
  width: 100%;
  font-size: 48px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  text-align: center;
}
@media screen and (max-width: 1650px) {
  .first_screen__title {
    font-size: 43px;
  }
}
@media screen and (max-width: 500px) {
  .first_screen__title {
    font-size: 25px;
  }
}
.first_screen__desk {
  font-size: 17px;
  width: 100%;
  max-width: 674px;
  margin-top: 39px;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.first_screen__desk > span {
  font-weight: 500;
}
@media screen and (max-width: 1650px) {
  .first_screen__desk {
    font-size: 16px;
  }
}
@media screen and (max-width: 1410px) {
  .first_screen__desk {
    max-width: 562px;
  }
}
.first_screen__dop {
  display: flex;
  align-items: center;
  margin-top: 201px;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
@media screen and (max-width: 1650px) {
  .first_screen__dop {
    margin-top: 140px;
  }
}
@media screen and (max-width: 1410px) {
  .first_screen__dop {
    margin-top: 100px;
  }
}
@media screen and (max-width: 1270px) {
  .first_screen__dop {
    margin-top: 25px;
  }
}
@media screen and (max-width: 500px) {
  .first_screen__dop > img {
    width: 90px;
  }
}
.first_screen__img_desk {
  font-family: var(--hfontR);
  color: var(--fontHColor);
  margin-left: 16px;
  font-size: 17px;
}
.first_screen__img {
  position: absolute;
  right: 0;
  top: 0;
}
@media screen and (max-width: 1650px) {
  .first_screen__img {
    width: 50%;
  }
}
@media screen and (max-width: 1410px) {
  .first_screen__img {
    top: 60px;
  }
}
@media screen and (max-width: 1270px) {
  .first_screen__img {
    position: unset;
    margin-top: 25px;
    width: 100%;
    max-width: 562px;
  }
}
.first_screen__img_grid {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2 / 3;
  grid-row: 1 / 4;
  padding: 12px;
}
@media screen and (max-width: 1650px) {
  .first_screen__img_grid > img {
    width: 100%;
  }
}
@media screen and (max-width: 1410px) {
  .first_screen__img_grid {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    width: 60%;
  }
}
@media screen and (max-width: 1000px) {
  .first_screen__img_grid {
    width: 100%;
  }
}
@media screen and (max-width: 1410px) {
  .first_screen__img_grid--dop {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    width: 100%;
    justify-content: center;
  }
}
.main__img {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  padding: 12px;
}
@media screen and (max-width: 1270px) {
  .main__img {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
}
.main__btn {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  align-self: center;
}
.main__title {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  font-size: 48px;
  text-align: center;
}
@media screen and (max-width: 1270px) {
  .main__title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}
@media screen and (max-width: 1000px) {
  .main__title {
    font-size: 32px;
  }
}
.main__title--center {
  text-align: center;
}
.main__title--margin {
  margin-top: 25px;
}
.main__desk {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin-left: 150px;
}
.main__desk > p > span {
  font-weight: 500;
}
.main__desk > p + p {
  margin-top: 1rem;
}
@media screen and (max-width: 1650px) {
  .main__desk {
    margin-left: 50px;
  }
}
@media screen and (max-width: 1270px) {
  .main__desk {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-left: 0;
  }
}
.main__theme {
  grid-column: 2 / 3;
  grid-row: 3 / 5;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 150px;
}
@media screen and (max-width: 1650px) {
  .main__theme {
    margin-left: 50px;
  }
}
@media screen and (max-width: 1410px) {
  .main__theme {
    justify-content: space-around;
  }
}
@media screen and (max-width: 1270px) {
  .main__theme {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    margin-left: 0;
  }
}
.main__theme_wrapper {
  position: relative;
  width: 295px;
  height: 94px;
  border-radius: 5px;
  cursor: pointer;
}
@media screen and (max-width: 1410px) {
  .main__theme_wrapper {
    margin-top: 10px;
  }
}
@media screen and (max-width: 325px) {
  .main__theme_wrapper {
    width: 100%;
  }
}
.main__theme_wrapper:nth-child(1) > .main__theme_img {
  background-image: url('../img/main_img/1.jpg');
}
.main__theme_wrapper:nth-child(2) > .main__theme_img {
  background-image: url('../img/main_img/2.jpg');
}
.main__theme_wrapper:nth-child(3) > .main__theme_img {
  background-image: url('../img/main_img/3.jpg');
}
.main__theme_wrapper:nth-child(4) > .main__theme_img {
  background-image: url('../img/main_img/4.jpg');
}
.main__theme_wrapper:nth-child(5) > .main__theme_img {
  background-image: url('../img/main_img/5.jpg');
}
.main__theme_wrapper:nth-child(6) > .main__theme_img {
  background-image: url('../img/main_img/6.jpg');
}
.main__theme_wrapper:hover > .main__theme_img {
  height: 182px;
  z-index: 1;
  transform: translateY(-44px);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.32);
}
.main__theme_wrapper:hover > .main__theme_img:before {
  opacity: 1;
}
.main__theme_wrapper:hover > .main__theme_img > p {
  opacity: 1;
}
.main__theme_img {
  position: absolute;
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  transform: translateY(0);
  will-change: transform, height;
  transition: height 0.2s 0.1s, box-shadow 0.2s, transform 0.2s;
}
.main__theme_img:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--redShadow);
  opacity: 0;
  border-radius: inherit;
  transition: opacity 0.2s;
}
.main__theme_img > p {
  z-index: 2;
  color: var(--white);
  font-family: var(--hfontB);
  font-size: 29px;
  text-align: center;
  padding: 20px;
  opacity: 0;
  transition: opacity 0.2s;
}
.slider__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 37px;
}
@media screen and (max-width: 750px) {
  .slider {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px auto;
    row-gap: 15px;
  }
}
@media screen and (max-width: 500px) {
  .slider {
    grid-template-rows: 232px auto;
  }
}
@media screen and (max-width: 500px) {
  .slider {
    grid-template-rows: 180px auto;
  }
}
.slider__title {
  color: var(--backgroundRedColor);
  font-size: 30px;
  margin-bottom: 25px;
}
@media screen and (max-width: 1000px) {
  .slider__separator {
    width: 100%;
  }
}
.slider-btn {
  cursor: pointer;
  grid-row: 2 / 3;
  justify-self: center;
  min-width: 71.47px;
  height: 48px;
}
.slider-btn-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.slider-btn--right {
  transform: scaleX(-1);
}
@media screen and (max-width: 750px) {
  .slider-btn--right {
    grid-column: 2 / 3;
  }
}
.slider__slides_wrapper {
  position: relative;
  margin: 0 20px;
  overflow-x: hidden;
}
@media screen and (max-width: 750px) {
  .slider__slides_wrapper {
    grid-column: 1 / 3;
  }
}
.slider__slides {
  position: relative;
  display: flex;
  align-items: center;
  transition: transform 0.2s;
}
.slider__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  min-width: 260px;
  height: 195px;
  margin: 0 15px;
  object-fit: cover;
  border-radius: 5px;
  overflow: hidden;
}
@media screen and (max-width: 1650px) {
  .slider__slide {
    min-width: 270px;
  }
}
@media screen and (max-width: 1410px) {
  .slider__slide {
    min-width: 224px;
    height: 165px;
  }
}
@media screen and (max-width: 1000px) {
  .slider__slide {
    min-width: 228px;
    height: 150px;
    object-fit: contain;
  }
}
@media screen and (max-width: 750px) {
  .slider__slide {
    min-width: calc(100% - 30px);
    height: 230px;
  }
}
@media screen and (max-width: 500px) {
  .slider__slide {
    height: 154px;
  }
}
.slider__slide > img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider__slide > a {
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
}
.slider__slide:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--redShadow);
  opacity: 0;
  z-index: 1;
  transition: opacity 0.2s;
}
.slider__slide:hover > a,
.slider__slide:hover > .slider__slide_title,
.slider__slide:hover:before {
  opacity: 1;
  visibility: visible;
}
.slider__slide_color {
  min-width: 224px;
}
@media screen and (max-width: 1000px) {
  .slider__slide_color {
    min-width: 228px;
    height: 150px;
    object-fit: contain;
  }
}
@media screen and (max-width: 750px) {
  .slider__slide_color {
    min-width: calc(100% - 30px);
    height: 230px;
  }
}
@media screen and (max-width: 500px) {
  .slider__slide_color {
    height: 154px;
  }
}
.slider__slide_title {
  font-size: 20px;
  text-align: center;
  color: var(--white);
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
}
.slider__link {
  font-size: 18px;
  font-weight: 600;
}
.slider__link:after {
  position: relative;
  content: url('../img/arrow.svg');
  margin-left: 17px;
  top: 2px;
}
.main__title--slider {
  font-size: 36px;
  margin-top: 15px;
}
.slider__desk {
  width: 100%;
  max-width: 950px;
  padding: 0 16px;
  margin-top: 50px;
}
.slider__desk > span {
  font-weight: 500;
}
.text__wrapper {
  width: 100%;
  max-width: 950px;
  padding: 0 16px;
  margin: 0 auto;
  margin-top: 25px;
}
table.table {
  border: 1px solid #2E1111;
  background-color: #FFF5EE;
  text-align: left;
  border-collapse: collapse;
  border-radius: 5px;
  margin: 25px auto 0;
}
table.table td,
table.table th {
  border: 1px solid #2E1111;
  padding: 10px;
}
table.table tbody td {
  font-size: 16px;
}
table.table tr:nth-child(even) {
  background: #FFE6D4;
}
table.table thead {
  background: #FFAC92;
  background: -moz-linear-gradient(top, #ffc1ad 0%, #ffb49d 66%, #FFAC92 100%);
  background: -webkit-linear-gradient(top, #ffc1ad 0%, #ffb49d 66%, #FFAC92 100%);
  background: linear-gradient(to bottom, #ffc1ad 0%, #ffb49d 66%, #FFAC92 100%);
}
table.table thead th {
  font-size: 16px;
  font-weight: bold;
  color: #2B2B2B;
  text-align: left;
}
table.table tfoot td {
  font-size: 14px;
}
.video {
  width: 100%;
  max-width: 950px;
  height: 450px;
  margin: 25px auto 0;
  padding: 15px;
  background-image: url('../img/bgvideo.png');
}
@media screen and (max-width: 750px) {
  .video {
    height: 340px;
  }
}
@media screen and (max-width: 500px) {
  .video {
    height: 230px;
  }
}
.faq {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 30px 0 0;
}
.faq > li:before {
  display: none;
}
@media screen and (max-width: 500px) {
  .faq {
    padding: 0;
  }
}
.faq__wrapper {
  position: relative;
  width: 812px;
}
.faq__wrapper:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--faqBorderColor);
  left: 0;
}
@media screen and (max-width: 1000px) {
  .faq__wrapper {
    width: 95%;
  }
}
.faq__question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 26px 15px;
  font-size: 20px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.5s;
}
.faq__question > p {
  max-width: 531px;
}
@media screen and (max-width: 750px) {
  .faq__question > p {
    max-width: 310px;
  }
}
@media screen and (max-width: 500px) {
  .faq__question > p {
    max-width: 230px;
  }
}
@media screen and (max-width: 325px) {
  .faq__question > p {
    max-width: 178px;
  }
}
@media screen and (max-width: 750px) {
  .faq__question {
    font-size: 1rem;
  }
}
.faq__wrapper > .faq__question.active > .faq__plus {
  transform: rotate(45deg);
}
.faq__wrapper > .faq__question.active > .faq__plus i {
  background-color: var(--faqBorderRedColor);
}
.faq__wrapper > .faq__question.active + .faq__answer {
  padding: 37px;
  max-height: 370px;
  opacity: 1;
}
@media screen and (max-width: 750px) {
  .faq__wrapper > .faq__question.active + .faq__answer {
    padding: 37px 27px;
  }
}
.faq__answer {
  position: relative;
  padding: 0 37px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: padding 1s, max-height 1s, opacity 1s;
}
@media screen and (max-width: 750px) {
  .faq__answer {
    padding: 0 27px;
  }
}
.faq__answer:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--fontColor);
}
.faq__plus {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 34px;
  height: 34px;
  transition: transform 0.5s;
}
.faq__plus i {
  position: absolute;
  width: 65%;
  height: 2px;
  background-color: var(--fontHColor);
  border-radius: 2px;
  transition: background-color 0.5s;
}
.faq__plus i:last-child {
  transform: rotate(90deg);
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: var(--bgFooter);
  padding: 25px 0 15px;
  box-shadow: 0 0 12px var(--shadow);
}
@media screen and (max-width: 500px) {
  .footer > p {
    text-align: center;
  }
}
.footer__copy {
  margin-top: 15px;
}
.soc {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 0 25px;
}
.soc--margin40 {
  margin-top: 43px;
}
@media screen and (max-width: 1000px) {
  .soc--margin40 {
    margin-top: 20px;
  }
}
.soc__btn {
  margin: 0 5px;
  transition: transform 0.2s;
}
.soc__btn > img {
  width: 36px;
  height: 36px;
}
.soc__btn:hover {
  transform: scale(1.1);
}
.grid__main {
  width: 100%;
  max-width: var(--maxScreen);
  display: grid;
  grid-template-columns: 330px auto;
  column-gap: 80px;
  margin-bottom: 80px;
}
@media screen and (max-width: 1650px) {
  .grid__main {
    column-gap: 25px;
  }
}
@media screen and (max-width: 1270px) {
  .grid__main {
    grid-template-columns: 100%;
    column-gap: 0;
  }
}
.grid__main--margin {
  margin-top: 50px;
}
.grid__main--color {
  grid-template-columns: auto 330px;
}
@media screen and (max-width: 1270px) {
  .grid__main--color {
    grid-template-columns: 100%;
    column-gap: 0;
  }
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--backgroundColor);
  border: 1px solid var(--borderColor);
  box-shadow: 0 0 12px var(--shadow);
  border-radius: 5px;
  padding: 25px 16px;
}
.main__title_h2 {
  font-size: 37px;
}
@media screen and (max-width: 1000px) {
  .main__title_h2 {
    font-size: 21px;
  }
}
.main__p {
  width: 100%;
  margin-top: 1rem;
}
.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.aside > div > * + * {
  margin-top: 40px;
}
@media screen and (max-width: 1270px) {
  .aside {
    display: none;
  }
  .aside.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    left: 0;
    top: 128px;
    background-color: var(--backgroundColor);
    width: 100vw;
    height: 100vh;
    padding: 25px 16px;
    z-index: 40;
    overflow-y: auto;
  }
}
.aside__wrapper {
  overflow-x: hidden;
  overflow-y: visible;
  width: 100%;
  height: 100%;
  padding: 16px;
  padding-bottom: 180px;
}
.aside__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  background-color: var(--backgroundColor);
  border: 1px solid var(--borderColor);
  -webkit-box-shadow: 0 0 12px var(--shadow);
  box-shadow: 0 0 12px var(--shadow);
  border-radius: 5px;
  padding: 25px 15px;
}
.aside__block_title {
  font-size: 26px;
  text-align: center;
}
.aside__block_separator {
  margin: 15px 0 25px;
}
.aside__link,
.aside__link_more {
  position: relative;
  color: var(--fontColor);
  text-decoration: none;
  cursor: pointer;
}
.aside__link.more,
.aside__link_more.more {
  margin: 10px 0;
}
.aside__link.more.open > div,
.aside__link_more.more.open > div {
  transform: translateY(-50%) rotate(45deg);
}
.aside__link.more.open > div > i,
.aside__link_more.more.open > div > i {
  background-color: var(--faqBorderRedColor);
}
.aside__link.more.open + .aside__more,
.aside__link_more.more.open + .aside__more {
  max-height: 200px;
}
.aside__link:hover:before,
.aside__link_more:hover:before,
.aside__link.more:before,
.aside__link_more.more:before {
  opacity: 1;
  transform: scaleX(1);
}
.aside__more {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 0;
  will-change: max-height;
  transition: max-height 0.5s;
  overflow: hidden;
}
.aside__link.more {
  position: relative;
  width: 100%;
}
.aside__link.more > div {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -18px;
  top: 0;
  margin-top: 10px;
  width: 12px;
  height: 12px;
  transform: translateY(-50%) rotate(0);
  transition: transform 0.5s;
}
.aside__link.more > div > i {
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: var(--fontHColor);
  transition: background-color 0.5s;
}
.aside__link.more > div > i:last-child {
  transform: rotate(90deg);
}
.aside_li {
  position: relative;
  margin-top: 5px;
}
.aside_li.open > .aside__link.more > div {
  transform: translateY(-50%) rotate(45deg);
}
.aside_li.open > .aside__link.more > div > i {
  background-color: var(--faqBorderRedColor);
}
.aside_li > .aside_ul__inner {
  margin-top: 5px;
}
.aside__skaz {
  width: 100%;
  text-align: center;
}
.aside__skaz li:before {
  display: none;
}
ul {
  list-style: none;
  width: 100%;
  padding: 0 20px;
}
ul > li {
  position: relative;
}
ul > li:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: var(--fontHColor);
  transform: rotate(45deg);
  top: 0.5rem;
  left: -15px;
}
.aside_ul {
  padding: 0 30px;
}
.aside_ul > li {
  align-self: flex-start;
}
.aside_ul > li:before {
  transform: rotate(0);
  transition: transform 0.2s;
}
.aside_ul > li.open:before {
  transform: rotate(45deg);
}
.aside_ul__inner {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s;
}
.aside_ul__inner > li {
  position: relative;
}
.aside_ul__inner > li:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  background-color: var(--linkColor);
  top: 0.5rem;
  left: -15px;
}
.aside_li.open > .aside_ul__inner {
  max-height: 200px;
}
ol {
  width: 100%;
  padding: 0 20px;
  list-style: none;
  counter-reset: li;
}
ol > li {
  counter-increment: li;
}
ol > li:before {
  content: counter(li);
  color: var(--fontHColor);
  font-family: var(--hfontR);
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.thanks {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.thanks__title {
  font-size: 37px;
}
.thanks__arrow {
  position: absolute;
  left: 150px;
  top: 43px;
}
@media screen and (max-width: 1410px) {
  .thanks__arrow {
    top: 93px;
    left: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .thanks__arrow {
    width: 150px;
  }
}
@media screen and (max-width: 750px) {
  .thanks__arrow {
    display: none;
  }
}
.thanks__arrow--right {
  right: 150px;
  left: auto;
  transform: scaleX(-1);
}
@media screen and (max-width: 1410px) {
  .thanks__arrow--right {
    right: 50px;
  }
}
.main__nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  row-gap: 35px;
  width: 85%;
  margin-top: 50px;
}
@media screen and (max-width: 1410px) {
  .main__nav {
    width: 98%;
  }
}
@media screen and (max-width: 1000px) {
  .main__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.main__nav_link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;
  color: var(--fontColor);
  justify-self: left;
}
@media screen and (max-width: 1000px) {
  .main__nav_link {
    margin-top: 15px;
  }
}
.main__nav_link > span {
  position: relative;
  display: block;
}
.main__nav_link > span:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background-color: var(--fontColor);
  opacity: 0;
  transform: scaleX(0);
  transition: opacity 0.2s, transform 0.2s;
}
.main__nav_link > img {
  margin-top: 10px;
}
.main__nav_link:nth-child(2n+1) > img {
  margin-left: 25px;
}
.main__nav_link:nth-child(2n) {
  justify-self: right;
  align-items: flex-end;
}
.main__nav_link:nth-child(2n) > img {
  margin-right: 25px;
  transform: scaleX(-1);
}
.main__nav_link:last-child {
  grid-column: 1 / 3;
  justify-self: center;
}
.main__nav_link:hover > span:before {
  opacity: 1;
  transform: scaleX(1);
}
.themes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 25px;
}
.theme_wrapper {
  position: relative;
  width: 360px;
  height: 254px;
  border-radius: 5px;
  margin: 10px 0;
}
@media screen and (max-width: 1650px) {
  .theme_wrapper {
    width: 290px;
    height: 224px;
  }
}
@media screen and (max-width: 1410px) {
  .theme_wrapper {
    width: 250px;
    height: 174px;
  }
}
.theme_wrapper:nth-child(1) > .theme_img {
  background-image: url('../img/main_img/1.jpg');
}
.theme_wrapper:nth-child(2) > .theme_img {
  background-image: url('../img/main_img/2.jpg');
}
.theme_wrapper:nth-child(3) > .theme_img {
  background-image: url('../img/main_img/3.jpg');
}
.theme_wrapper:nth-child(4) > .theme_img {
  background-image: url('../img/main_img/4.jpg');
}
.theme_wrapper:nth-child(5) > .theme_img {
  background-image: url('../img/main_img/5.jpg');
}
.theme_wrapper:nth-child(6) > .theme_img {
  background-image: url('../img/main_img/6.jpg');
}
.theme_wrapper:hover > .theme_img {
  height: 354px;
  width: 450px;
  z-index: 1;
  transform: translate(-85px, -50px);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.32);
}
@media screen and (max-width: 1650px) {
  .theme_wrapper:hover > .theme_img {
    height: 554px;
    width: initial;
    transform: translate(0, -50px);
  }
}
.theme_wrapper:hover > .theme_img:before {
  opacity: 1;
}
.theme_wrapper:hover > .theme_img > p {
  opacity: 1;
}
.theme_wrapper:hover > .theme_img .theme__flex {
  opacity: 1;
  visibility: visible;
}
.theme_img {
  position: absolute;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  transform: translate(0, 0);
  will-change: transform, height, width, box-shadow;
  transition: height 0.2s 0.1s, width 0.2s 0.1s, box-shadow 0.2s, transform 0.2s;
}
.theme_img:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--redShadow);
  opacity: 0;
  border-radius: inherit;
  transition: opacity 0.2s;
}
.theme_img > p {
  position: relative;
  z-index: 2;
  color: var(--white);
  font-family: var(--hfontB);
  font-size: 29px;
  text-align: center;
  padding: 20px 20px 0;
  margin-bottom: 10px;
  opacity: 0;
  transition: opacity 0.2s;
}
.theme_img > p:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 50%;
  height: 2px;
  border-radius: 2px;
  transform: translateX(-50%);
  background-color: var(--white);
}
.theme__flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 88%;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
}
.theme__flex > a {
  color: #FFFFC8;
  margin: 10px 2.5px;
}
.main__p_text {
  width: 100%;
  max-width: 900px;
  margin-top: 1rem;
}
.end_text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 25px;
}
.end_text > img {
  margin-right: 15px;
}
.end_text > .first_screen__img_desk {
  width: auto;
}
.text__title {
  display: grid;
  grid-template-columns: 244px auto;
  width: 100%;
  margin-bottom: 50px;
}
@media screen and (max-width: 1000px) {
  .text__title {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
.text__title_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 244px;
}
@media screen and (max-width: 1000px) {
  .text__title_left {
    margin-top: 25px;
  }
}
.text__title_left_img {
  width: 100%;
  height: 146px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
.text__btn {
  width: 200px;
  height: 42px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
}
.text__title_right {
  display: flex;
  flex-direction: column;
}
.text__title_right > .first_screen__title {
  margin-left: 25px;
}
.text__title_right > p {
  margin: 30px 0 0 25px;
}
.main__p_img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  width: 50%;
  margin-top: 25px;
}
@media screen and (max-width: 1000px) {
  .main__p_img {
    width: 90%;
  }
}
.main__p_img--full {
  width: 90%;
}
@media screen and (max-width: 1000px) {
  .main__p_img--full {
    width: 100%;
  }
}
.coloring__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 25px;
  will-change: max-height, visibility, opacity;
  transition: max-height 0.5s, opacity 0.3s 0.5s, visibility 0.3s 0.5s;
}
.coloring__wrapper > a {
  width: 200px;
  height: 130px;
  margin: 10px;
  border: 2px solid var(--borderImg);
  border-radius: 5px;
  overflow: hidden;
  transition: box-shadow 0.2s, transform 0.2s;
}
.coloring__wrapper > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.coloring__wrapper > a:hover {
  box-shadow: 0 0 12px var(--shadow);
  transform: scale(1.1);
}
.coloring__wrapper.hide {
  max-height: 0;
  overflow: hidden;
  opacity: 1;
  visibility: hidden;
}
.coloring__showmore {
  margin: 25px 0;
}
.main__next {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 25px;
}
.thanks__title {
  text-align: center;
}
.main__next_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}
@media screen and (max-width: 1000px) {
  .main__next_wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
.thanks__link {
  position: relative;
}
@media screen and (max-width: 1000px) {
  .thanks__link:last-child {
    margin-top: 25px;
  }
}
.thanks__link:after {
  content: url('../img/arrow_nav-blue.svg');
  position: absolute;
  left: 20px;
  bottom: -20px;
}
.thanks__link:last-child:after {
  left: auto;
  right: 20px;
  transform: scaleX(-1);
}
.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 25px;
}
.comments__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.comments__input {
  width: 100%;
  padding: 10px;
  background-color: #F5F5E8;
  border: 2px solid #E6E6CC;
  border-radius: 5px;
}
.comments__textarea {
  min-height: 80px;
  resize: vertical;
  margin-top: 10px;
}
.btn__form {
  width: 240px;
  font-size: 16px;
  font-weight: 400;
  border: none;
  margin-top: 20px;
}
.comment {
  width: 100%;
  background-color: #FFFFF8;
  border: 2px solid var(--borderImg);
  border-radius: 5px;
  box-shadow: 0 0 12px var(--shadow);
  margin-top: 20px;
}
.comment__name {
  width: 100%;
  border-bottom: 2px solid var(--borderImg);
  padding: 10px;
}
.comment__msg {
  padding: 10px;
}
.comments__assessment {
  display: flex;
  align-items: center;
  margin-top: 20px;
  align-self: flex-start;
}
@media screen and (max-width: 750px) {
  .comments__assessment {
    flex-direction: column;
    align-items: flex-start;
  }
}
.rating_block {
  width: 125px;
  height: 25px;
  margin: 0 15px;
}
@media screen and (max-width: 750px) {
  .rating_block {
    margin: 0;
  }
}
.rating_block input[type="radio"] {
  display: none;
}
.label_rating {
  float: right;
  display: block;
  width: 25px;
  height: 25px;
  background: url('../img/star.svg') no-repeat;
  cursor: pointer;
}
.rating_block .label_rating:hover,
.rating_block .label_rating:hover ~ .label_rating,
.rating_block input[type="radio"]:checked ~ .label_rating {
  background: url('../img/star-done.svg') no-repeat;
}
.rating_block__all {
  display: flex;
  align-items: center;
  width: 125px;
  height: 25px;
  margin: 0 15px;
}
@media screen and (max-width: 750px) {
  .rating_block__all {
    margin: 0;
  }
}
.rating_block__star {
  width: 25px;
  height: 25px;
  background: url('../img/star.svg') no-repeat;
}
.rating_block__star.done {
  background: url('../img/star-done.svg') no-repeat;
}
.slider__coloring {
  width: 100%;
  max-width: 950px;
}
.coloring__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px 0;
}
.coloring__btns > * {
  margin: 0 10px;
}
@media screen and (max-width: 1000px) {
  .coloring__btns {
    flex-direction: column;
  }
  .coloring__btns > * {
    margin: 10px 0;
  }
}
