a:active,
a:focus {
  outline: none;
}
input,
textarea {
  outline: none;
}
input:active,
textarea:active {
  outline: none;
}
:focus {
  outline: none;
}
textarea {
  resize: none;
}
textarea {
  resize: vertical;
}
textarea {
  resize: horizontal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}
.body {
  --backgroundColor: #F5F5F5;
  --backgroundDarkColor: #3F3841;
  --backgroundDarkOpacityColor: rgba(63, 56, 65, 0);
  --fontColor: #2b2b2b;
  --fontLightColor: #EAA2FF;
  --fontLightOpacityColor: rgba(234, 162, 255, 0.14);
  --white: #fff;
  --borderColor: #E24E9D;
  --borderDarkColor: #E81564;
  --borderOrangeColor: #E24E9D;
  --titleLightColor: #FFDEDE;
  --borderShadow: rgba(219, 183, 120, 0.2);
  --btnShadowColor: rgba(232, 21, 100, 0.74);
  --horShadow: rgba(232, 21, 100, 0.42);
  --inputBorder: #CBCBCB;
  --inputLabel: #8F8F8F;
  --maxScreen: 1640px;
  --bigScreen: 1390px;
  --middleScreen: 1200px;
  --tabletScreen: 950px;
  --tabletMediumScreen: 700px;
  --mobileScreen: 450px;
  --minScreen: 300px;
  --minMiddleScreen: 270px;
  position: relative;
  overflow-x: hidden;
  background-color: var(--backgroundColor);
  background-image: url('../img/background.svg');
  color: var(--fontColor);
  scroll-behavior: smooth;
  width: 100%;
}
.btn {
  width: 100%;
  height: 50px;
  line-height: 45px;
  text-align: center;
  max-width: 192px;
  color: var(--white);
  font-size: 17px;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  box-shadow: 0 3px 6px var(--btnShadowColor);
  background: linear-gradient(90deg, var(--borderColor), var(--borderDarkColor));
  cursor: pointer;
}
.btn__form {
  margin-top: 50px;
}
.content {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content > * + * {
  margin-top: 60px;
}
.block {
  width: 100%;
  max-width: var(--maxScreen);
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 1650px) {
  .block {
    max-width: var(--bigScreen);
  }
}
@media screen and (max-width: 1410px) {
  .block {
    max-width: var(--middleScreen);
  }
}
@media screen and (max-width: 1270px) {
  .block {
    max-width: var(--tabletScreen);
  }
}
@media screen and (max-width: 1000px) {
  .block {
    max-width: var(--tabletMediumScreen);
  }
}
@media screen and (max-width: 750px) {
  .block {
    max-width: 95%;
  }
}
.first_screen {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 944px;
  padding: 129px 0 0;
  background-color: var(--backgroundDarkColor);
  background-image: url('../img/background.svg');
}
@media screen and (max-width: 325px) {
  .first_screen {
    padding: 180px 0 0;
  }
}
.first_screen__title {
  position: relative;
  color: var(--white);
  font-size: 34px;
  margin: 19px auto 0;
  text-align: center;
  z-index: 3;
}
.first_screen__title:before {
  content: url('../img/Separator-line.svg');
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-104%, -50%);
}
.first_screen__title:after {
  content: url('../img/Separator-line.svg');
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(104%, -50%) scaleX(-1);
}
@media screen and (max-width: 1270px) {
  .first_screen__title:after,
  .first_screen__title:before {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .first_screen__title {
    font-size: 29px;
  }
}
.first_screen__img {
  margin-top: 15px;
}
@media screen and (max-width: 750px) {
  .first_screen__img {
    width: 85%;
  }
}
.first_screen__tripple_img {
  width: 100%;
  height: 440px;
  object-fit: contain;
  justify-self: flex-end;
  z-index: 2;
}
@media screen and (max-width: 1000px) {
  .first_screen__tripple_img {
    height: 100%;
  }
}
@media screen and (max-width: 500px) {
  .first_screen__tripple_img {
    height: 100%;
  }
}
.first_screen__tripple {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  margin: 82px auto 70px;
  width: 100%;
}
@media screen and (max-width: 1650px) {
  .first_screen__tripple {
    grid-template-columns: 1.5fr 2fr 1.25fr;
    column-gap: 10px;
  }
}
@media screen and (max-width: 1410px) {
  .first_screen__tripple {
    grid-template-columns: 1fr 1fr 0.75fr;
  }
}
@media screen and (max-width: 1270px) {
  .first_screen__tripple {
    grid-template-columns: 1fr 0.65fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
  }
}
@media screen and (max-width: 1000px) {
  .first_screen__tripple {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 0.75fr;
  }
}
@media screen and (max-width: 750px) {
  .first_screen__tripple {
    grid-template-rows: 1fr 1fr 0.5fr;
  }
}
@media screen and (max-width: 325px) {
  .first_screen__tripple {
    grid-template-rows: auto auto 210px;
  }
}
.first_screen__img {
  justify-self: center;
}
.first_screen__tripple_text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  counter-reset: textBox;
}
.first_screen__tripple_text:after {
  content: url('../img/circle.svg');
  position: absolute;
  width: 100%;
  height: 100%;
  left: -83px;
  top: -96px;
  z-index: 0;
}
.first_screen__tripple_text > * + * {
  margin-top: 90px;
}
@media screen and (max-width: 1650px) {
  .first_screen__tripple_text:after {
    left: -69px;
    top: -96px;
  }
}
@media screen and (max-width: 1410px) {
  .first_screen__tripple_text:after {
    left: -138px;
    top: -85px;
  }
}
@media screen and (max-width: 1270px) {
  .first_screen__tripple_text {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
  }
  .first_screen__tripple_text:after {
    left: 112px;
    top: -85px;
  }
}
@media screen and (max-width: 1000px) {
  .first_screen__tripple_text {
    grid-column: 1 / 2;
  }
  .first_screen__tripple_text:after {
    left: -10px;
    top: -105px;
  }
}
@media screen and (max-width: 750px) {
  .first_screen__tripple_text:after {
    display: none;
  }
}
.first_screen__tripple_tblock {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.first_screen__tripple_tblock:after {
  counter-increment: textBox;
  content: counter(textBox);
  position: absolute;
  left: 50%;
  top: -110px;
  font-size: 184px;
  transform: translateX(-50%);
  font-weight: 900;
  color: var(--fontLightOpacityColor);
}
.first_screen__tripple_title {
  text-align: center;
  color: var(--white);
  font-size: 23px;
}
.first_screen__tripple_p {
  color: var(--white);
  text-align: center;
  margin: 15px 0 17px;
  max-width: 380px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: var(--backgroundRedColor);
  border-radius: 15px;
  width: 474px;
  padding: 38px 42px;
  z-index: 2;
}
.form:before {
  position: absolute;
  content: '';
  left: 3px;
  top: 3px;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border: 2px solid var(--borderOrangeColor);
  border-radius: 12px;
  background: transparent;
  pointer-events: none;
  animation: anim_border 4s linear infinite;
}
@media screen and (max-width: 1650px) {
  .form {
    width: 100%;
  }
}
@media screen and (max-width: 1270px) {
  .form {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 474px;
    justify-self: center;
  }
}
@media screen and (max-width: 1000px) {
  .form {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 474px;
    justify-self: center;
  }
}
@media screen and (max-width: 500px) {
  .form {
    width: 100%;
    padding: 10px;
  }
}
.form__double {
  height: 500px;
}
.form__title {
  color: var(--white);
  font-size: 24px;
  margin-top: 15px;
  text-align: center;
}
.form__title.form__title--dark {
  color: var(--fontColor);
}
.form__desk {
  font-weight: 100;
  font-size: 18px;
  color: var(--white);
  margin-top: 14px;
  width: 100%;
}
.form__desk.form__desk--dark {
  color: var(--fontColor);
}
@media screen and (max-width: 500px) {
  .form__desk {
    font-size: 16px;
  }
}
@media screen and (max-width: 325px) {
  .form__desk {
    font-size: 14px;
  }
}
.form__img {
  margin-top: 14px;
}
.form__desk_data {
  font-size: 11px;
  color: var(--inputLabel);
  text-align: center;
  margin-top: 11px;
}
.form__input-wrapper {
  position: relative;
  width: 100%;
  margin-top: 30px;
}
.form__input {
  width: 100%;
  background: transparent;
  border: unset;
  border-bottom: 1px solid var(--inputBorder);
  color: var(--white);
  font-weight: 200;
  font-size: 16px;
  padding: 0 10px 5px;
}
.form__input--dark {
  color: var(--fontColor);
  border-bottom: 1px solid var(--fontColor);
}
.form__input + label {
  position: absolute;
  top: 0;
  left: 15px;
  color: var(--inputLabel);
  pointer-events: none;
  transition: top 0.2s, font-size 0.2s, color 0.2s;
}
.form__input--dark + label {
  color: var(--fontColor);
}
.form__input:not(:placeholder-shown) + label,
.form__input:focus + label {
  top: -1.3rem;
  font-size: 12px;
  color: var(--white);
}
.form__input--dark:not(:placeholder-shown) + label,
.form__input--dark:focus + label {
  color: var(--fontColor);
}
.form__checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 315px;
  margin-top: 30px;
}
@media screen and (max-width: 1650px) {
  .form__checkbox-wrapper {
    width: 208px;
  }
}
@media screen and (max-width: 750px) {
  .form__checkbox-wrapper {
    width: 70%;
  }
}
@media screen and (max-width: 500px) {
  .form__checkbox-wrapper {
    margin-left: 20px;
  }
}
.form__checkbox-wrapper--min {
  margin: 20px 0 10px;
}
@media screen and (max-width: 1650px) {
  .form__checkbox-wrapper--min {
    width: 275px;
  }
}
@media screen and (max-width: 750px) {
  .form__checkbox-wrapper--min {
    width: 70%;
  }
}
@media screen and (max-width: 500px) {
  .form__checkbox-wrapper--min {
    width: 77%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .form__checkbox-wrapper--min > * + * {
    margin-top: 20px;
  }
}
@media screen and (max-width: 325px) {
  .form__checkbox-wrapper--min {
    width: 60%;
  }
}
@media screen and (max-width: 1650px) {
  .form__checkbox-wrapper--w {
    width: 315px;
  }
}
@media screen and (max-width: 500px) {
  .form__checkbox-wrapper--w {
    width: 77%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .form__checkbox-wrapper--w > * + * {
    margin-top: 20px;
  }
}
@media screen and (max-width: 325px) {
  .form__checkbox-wrapper--w {
    width: 60%;
  }
}
.input__checkbox {
  display: none;
}
.input__checkbox + label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: var(--white);
}
@media screen and (max-width: 500px) {
  .input__checkbox + label {
    font-size: 14px;
  }
}
.input__checkbox + label:before {
  content: '';
  position: absolute;
  left: -35px;
  top: -5px;
  width: 24px;
  height: 24px;
  border-radius: 3px;
  border: 1px solid var(--inputBorder);
}
@media screen and (max-width: 500px) {
  .input__checkbox + label:before {
    width: 20px;
    height: 20px;
  }
}
.input__checkbox + label:after {
  content: '';
  position: absolute;
  left: -29px;
  top: 1px;
  width: 14px;
  height: 14px;
  border-radius: 3px;
  background-color: var(--inputBorder);
  opacity: 0;
  transition: opacity 0.2s;
}
@media screen and (max-width: 500px) {
  .input__checkbox + label:after {
    width: 10px;
    height: 10px;
  }
}
.input__checkbox:checked + label:after {
  opacity: 1;
}
.input__checkbox.input__checkbox--dark + label {
  color: var(--fontColor);
}
.input__checkbox.input__checkbox--dark + label:before {
  border: 1px solid var(--fontColor);
}
.input__checkbox.input__checkbox--dark + label:after {
  background-color: var(--fontColor);
}
.block__title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block__title > * + * {
  margin-top: 15px;
}
.block__title_h {
  color: var(--backgroundRedColor);
  font-size: 34px;
  text-align: center;
}
@media screen and (max-width: 750px) {
  .block__title_h {
    font-size: 29px;
  }
}
.block__title_text {
  padding: 0 16px;
  text-align: center;
}
.benefits {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 290px;
  margin-top: 40px;
}
.card__desk {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.infograph {
  margin-top: 40px;
  width: 1089px;
}
@media screen and (max-width: 1270px) {
  .infograph {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 750px) {
  .infograph {
    display: none;
  }
}
.infograph__mob {
  display: none;
}
@media screen and (max-width: 750px) {
  .infograph__mob {
    display: block;
  }
}
.block__double {
  display: grid;
  grid-template-columns: 483px auto;
  column-gap: 69px;
  width: 100%;
  margin-top: 40px;
}
@media screen and (max-width: 1270px) {
  .block__double {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
.text > * + * {
  margin-top: 1.2rem;
}
@media screen and (max-width: 1270px) {
  .text {
    margin-bottom: 40px;
  }
}
.footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: var(--backgroundDarkColor);
  padding: 20px 0;
  margin-top: 80px;
}
.footer:before {
  content: 'Gaminator';
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 800;
  font-size: 262px;
  transform: translateY(-74%);
  text-transform: uppercase;
  z-index: -1;
  color: rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1650px) {
  .footer:before {
    font-size: 222px;
  }
}
@media screen and (max-width: 1410px) {
  .footer:before {
    font-size: 192px;
  }
}
@media screen and (max-width: 1270px) {
  .footer:before {
    font-size: 152px;
  }
}
@media screen and (max-width: 1000px) {
  .footer:before {
    font-size: 102px;
  }
}
@media screen and (max-width: 750px) {
  .footer:before {
    font-size: 72px;
  }
}
@media screen and (max-width: 500px) {
  .footer:before {
    font-size: 47px;
  }
}
@media screen and (max-width: 325px) {
  .footer:before {
    font-size: 37px;
  }
}
.footer__copy {
  margin-top: 40px;
  color: var(--white);
  text-align: center;
}
.footer__tel {
  margin-top: 10px;
}
.link {
  position: relative;
  text-decoration: none;
  color: var(--fontColor);
}
.link:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: var(--borderDarkColor);
  transform: scaleX(0);
  transition: transform 0.2s;
}
.link:hover:after {
  transform: scaleX(1);
}
.link.link--white {
  color: var(--white);
}
.link.active:after {
  transform: scaleX(1);
}
.cwdtable tr:nth-child(2n+1) {
  background: #FFF5FA;
}
.cwdtable {
  font-size: 12px;
  color: var(--fontColor);
  width: 100%;
  border-width: 1px;
  border-color: var(--backgroundDarkColor);
  border-collapse: collapse;
}
.cwdtable th {
  font-size: 12px;
  background: var(--titleLightColor);
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: var(--backgroundDarkColor);
}
.cwdtable tr {
  background: var(--white);
}
.cwdtable td {
  font-size: 12px;
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: var(--backgroundDarkColor);
}
.mobileTable {
  overflow: auto;
  width: 100%;
}
.cwdtable th,
.cwdtable td {
  text-align: center;
}
ul {
  list-style: none;
}
ul > li {
  position: relative;
  padding-left: 14px;
}
ul > li:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: var(--fontLightColor);
  border: 1px solid var(--borderDarkColor);
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(45deg);
}
.form__hor {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  background-color: var(--backgroundDarkColor);
  box-shadow: 0 0 25px var(--horShadow);
}
.form__hor:before,
.form__hor:after {
  content: '';
  position: absolute;
  width: 100vw;
  height: 3px;
  left: 0;
  top: 0;
  background-color: var(--borderOrangeColor);
}
.form__hor:after {
  top: unset;
  bottom: 0;
}
.form__hor_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1172px;
  margin: 40px auto 30px;
}
@media screen and (max-width: 1270px) {
  .form__hor_wrapper {
    flex-direction: column;
    width: 100%;
    margin: 20px auto 30px;
  }
  .form__hor_wrapper > .btn {
    margin-top: 25px;
  }
}
.form__desk--hor {
  text-align: center;
}
.form__input-wrapper--width {
  width: 400px;
  margin-top: 0;
}
@media screen and (max-width: 1270px) {
  .form__input-wrapper--width {
    margin-top: 30px;
  }
}
@media screen and (max-width: 500px) {
  .form__input-wrapper--width {
    width: 95%;
  }
}
.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  left: 0;
  top: 0;
  background-color: var(--backgroundDarkOpacityColor);
  z-index: 1000;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0);
  padding: 10px 0;
  transition: box-shadow 0.2s, background-color 0.2s;
}
.header.fix {
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  background-color: var(--backgroundDarkColor);
}
.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .header__top {
    justify-content: center;
  }
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo > img {
  width: 97px;
  object-fit: contain;
}
@media screen and (max-width: 750px) {
  .header__logo > img {
    width: 70px;
  }
}
.header__logo > * + * {
  margin-left: 25px;
}
@media screen and (max-width: 750px) {
  .header__logo > * + * {
    margin-left: 15px;
  }
}
@media screen and (max-width: 500px) {
  .header__logo {
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
  }
  .header__logo > * {
    margin: 10px 10px 0;
  }
}
.header__img {
  width: 90%;
}
@media screen and (max-width: 1000px) {
  .header__img {
    margin: 15px 0;
  }
}
.menu {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}
@media screen and (max-width: 1270px) {
  .menu {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .menu {
    display: none;
  }
}
.mobile_menu_btn {
  display: none;
  width: 25px;
  height: 16px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;
  cursor: pointer;
}
.mobile_menu_btn > i {
  width: 100%;
  height: 2px;
  background-color: var(--white);
  border-radius: 2px;
  transform-origin: right;
  transition: transform 0.2s, opacity 0.2s;
}
.mobile_menu_btn.active > i:first-child {
  transform: rotate(-45deg) scaleX(0.8);
}
.mobile_menu_btn.active > i:nth-child(2) {
  opacity: 0;
}
.mobile_menu_btn.active > i:last-child {
  transform: rotate(45deg) scaleX(0.8);
}
@media screen and (max-width: 1000px) {
  .mobile_menu_btn {
    display: flex;
  }
}
.mobile_menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 190px;
  background-color: var(--backgroundDarkColor);
  z-index: 888;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s, visibility 0.2s;
}
.mobile_menu > * + * {
  margin-top: 10px;
}
.mobile_menu.active {
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 1000px) {
  .top__link {
    display: none;
  }
}
.header__bottom {
  display: none;
}
@media screen and (max-width: 1000px) {
  .header__bottom {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
}
